<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: context.go in package html/template</title>
<link href="../../../css/lightLiterate-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	context.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/html/template.html">html/template</a>
</code></pre>
<style>input[type=radio] {display: none;}
input[id=r0]:checked ~pre label[for=r0],
input[id=r1]:checked ~pre label[for=r1],
input[id=r2]:checked ~pre label[for=r2],
input[id=r3]:checked ~pre label[for=r3],
input[id=r4]:checked ~pre label[for=r4],
input[id=r5]:checked ~pre label[for=r5],
input[id=r6]:checked ~pre label[for=r6],
input[id=r7]:checked ~pre label[for=r7],
input[id=r8]:checked ~pre label[for=r8],
input[id=r9]:checked ~pre label[for=r9],
input[id=r10]:checked ~pre label[for=r10],
input[id=r11]:checked ~pre label[for=r11],
input[id=r12]:checked ~pre label[for=r12],
input[id=r13]:checked ~pre label[for=r13]
{background: #226; color: #ff8;}
input[id=i0]:checked ~pre .i0
{background: brown; color: #eed;}
</style><input id="r0" type="radio" name="g"/>
<input id="r1" type="radio" name="g"/>
<input id="r2" type="radio" name="g"/>
<input id="r3" type="radio" name="g"/>
<input id="r4" type="radio" name="g"/>
<input id="r5" type="radio" name="g"/>
<input id="r6" type="radio" name="g"/>
<input id="r7" type="radio" name="g"/>
<input id="r8" type="radio" name="g"/>
<input id="r9" type="radio" name="g"/>
<input id="r10" type="radio" name="g"/>
<input id="r11" type="radio" name="g"/>
<input id="r12" type="radio" name="g"/>
<input id="r13" type="radio" name="g"/>
<input id="i0" type="radio" name="i"/>
<div id="container"><div class="section">
<div class="doc">
<span class="comment"> Copyright 2011 The Go Authors. All rights reserved.</span><span class="comment"> Use of this source code is governed by a BSD-style</span><span class="comment"> license that can be found in the LICENSE file.</span></div>
<div class="code"><pre><code>
<span class="keyword">package</span> template

<span class="keyword">import</span> (
	<label for="i0"><span class="lit-string i0">"fmt"</span></label>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> context describes the state an HTML parser must be in when it reaches the</span><span class="comment"> portion of HTML produced by evaluating a particular template node.</span><span class="comment"></span><span class="comment"> The zero value of type context is the start context for a template that</span><span class="comment"> produces an HTML fragment as defined at</span><span class="comment"> https://www.w3.org/TR/html5/syntax.html#the-end</span><span class="comment"> where the context element is null.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-context" class="ident">context</a> <span class="keyword">struct</span> {
	<a href="../../../use/html/template..context*ea779.state*4ba69.html" class="ident">state</a>   <a href="#line-82" class="ident">state</a>
	<a href="../../../use/html/template..context*ea779.delim*c5e9a.html" class="ident">delim</a>   <a href="#line-166" class="ident">delim</a>
	<a href="../../../use/html/template..context*ea779.urlPart*faa9e.html" class="ident">urlPart</a> <a href="#line-184" class="ident">urlPart</a>
	<a href="../../../use/html/template..context*ea779.jsCtx*d4bc7.html" class="ident">jsCtx</a>   <a href="#line-205" class="ident">jsCtx</a>
	<a href="../../../use/html/template..context*ea779.attr*21489.html" class="ident">attr</a>    <a href="#line-245" class="ident">attr</a>
	<a href="../../../use/html/template..context*ea779.element*44592.html" class="ident">element</a> <a href="#line-223" class="ident">element</a>
	<a href="../../../use/html/template..context*ea779.err*d9eb2.html" class="ident">err</a>     *<a href="error.go.html#line-13" class="ident">Error</a>
}

<span class="keyword">func</span> (<label for="r0" class="ident">c</label> <a href="#line-18" class="ident">context</a>) <label for="r1" class="ident"><a href="../../../use/html/template..context*ea779.String.html" class="ident">String</a></label>() <a href="../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">var</span> <label for="r2" class="ident">err</label> <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>
	<span class="keyword">if</span> <label for="r0" class="ident">c</label>.<a href="#line-25" class="ident">err</a> != <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
		<label for="r2" class="ident">err</label> = <label for="r0" class="ident">c</label>.<a href="#line-25" class="ident">err</a>
	}
	<span class="keyword">return</span> <a href="../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../fmt/print.go.html#line-217" class="ident">Sprintf</a>(<span class="lit-string">"{%v %v %v %v %v %v %v}"</span>, <label for="r0" class="ident">c</label>.<a href="#line-19" class="ident">state</a>, <label for="r0" class="ident">c</label>.<a href="#line-20" class="ident">delim</a>, <label for="r0" class="ident">c</label>.<a href="#line-21" class="ident">urlPart</a>, <label for="r0" class="ident">c</label>.<a href="#line-22" class="ident">jsCtx</a>, <label for="r0" class="ident">c</label>.<a href="#line-23" class="ident">attr</a>, <label for="r0" class="ident">c</label>.<a href="#line-24" class="ident">element</a>, <label for="r2" class="ident">err</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eq reports whether two contexts are equal.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r3" class="ident">c</label> <a href="#line-18" class="ident">context</a>) <label for="r4" class="ident"><a href="../../../use/html/template..context*ea779.eq*7d601.html" class="ident">eq</a></label>(<label for="r5" class="ident">d</label> <a href="#line-18" class="ident">context</a>) <a href="../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">return</span> <label for="r3" class="ident">c</label>.<a href="#line-19" class="ident">state</a> == <label for="r5" class="ident">d</label>.<a href="#line-19" class="ident">state</a> &amp;&amp;
		<label for="r3" class="ident">c</label>.<a href="#line-20" class="ident">delim</a> == <label for="r5" class="ident">d</label>.<a href="#line-20" class="ident">delim</a> &amp;&amp;
		<label for="r3" class="ident">c</label>.<a href="#line-21" class="ident">urlPart</a> == <label for="r5" class="ident">d</label>.<a href="#line-21" class="ident">urlPart</a> &amp;&amp;
		<label for="r3" class="ident">c</label>.<a href="#line-22" class="ident">jsCtx</a> == <label for="r5" class="ident">d</label>.<a href="#line-22" class="ident">jsCtx</a> &amp;&amp;
		<label for="r3" class="ident">c</label>.<a href="#line-23" class="ident">attr</a> == <label for="r5" class="ident">d</label>.<a href="#line-23" class="ident">attr</a> &amp;&amp;
		<label for="r3" class="ident">c</label>.<a href="#line-24" class="ident">element</a> == <label for="r5" class="ident">d</label>.<a href="#line-24" class="ident">element</a> &amp;&amp;
		<label for="r3" class="ident">c</label>.<a href="#line-25" class="ident">err</a> == <label for="r5" class="ident">d</label>.<a href="#line-25" class="ident">err</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> mangle produces an identifier that includes a suffix that distinguishes it</span><span class="comment"> from template names mangled with different contexts.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> The mangled name for the default context is the input templateName.</span></div>
<div class="code"><pre><code>	<span class="keyword">if</span> <label for="r6" class="ident">c</label>.<a href="#line-19" class="ident">state</a> == <a href="#line-90" class="ident">stateText</a> {
		<span class="keyword">return</span> <label for="r8" class="ident">templateName</label>
	}
	<label for="r9" class="ident">s</label> := <label for="r8" class="ident">templateName</label> + <span class="lit-string">"$htmltemplate_"</span> + <label for="r6" class="ident">c</label>.<a href="#line-19" class="ident">state</a>.<a href="state_string.go.html#line-11" class="ident">String</a>()
	<span class="keyword">if</span> <label for="r6" class="ident">c</label>.<a href="#line-20" class="ident">delim</a> != <a href="#line-172" class="ident">delimNone</a> {
		<label for="r9" class="ident">s</label> += <span class="lit-string">"_"</span> + <label for="r6" class="ident">c</label>.<a href="#line-20" class="ident">delim</a>.<a href="delim_string.go.html#line-11" class="ident">String</a>()
	}
	<span class="keyword">if</span> <label for="r6" class="ident">c</label>.<a href="#line-21" class="ident">urlPart</a> != <a href="#line-191" class="ident">urlPartNone</a> {
		<label for="r9" class="ident">s</label> += <span class="lit-string">"_"</span> + <label for="r6" class="ident">c</label>.<a href="#line-21" class="ident">urlPart</a>.<a href="urlpart_string.go.html#line-11" class="ident">String</a>()
	}
	<span class="keyword">if</span> <label for="r6" class="ident">c</label>.<a href="#line-22" class="ident">jsCtx</a> != <a href="#line-211" class="ident">jsCtxRegexp</a> {
		<label for="r9" class="ident">s</label> += <span class="lit-string">"_"</span> + <label for="r6" class="ident">c</label>.<a href="#line-22" class="ident">jsCtx</a>.<a href="jsctx_string.go.html#line-11" class="ident">String</a>()
	}
	<span class="keyword">if</span> <label for="r6" class="ident">c</label>.<a href="#line-23" class="ident">attr</a> != <a href="#line-249" class="ident">attrNone</a> {
		<label for="r9" class="ident">s</label> += <span class="lit-string">"_"</span> + <label for="r6" class="ident">c</label>.<a href="#line-23" class="ident">attr</a>.<a href="attr_string.go.html#line-11" class="ident">String</a>()
	}
	<span class="keyword">if</span> <label for="r6" class="ident">c</label>.<a href="#line-24" class="ident">element</a> != <a href="#line-229" class="ident">elementNone</a> {
		<label for="r9" class="ident">s</label> += <span class="lit-string">"_"</span> + <label for="r6" class="ident">c</label>.<a href="#line-24" class="ident">element</a>.<a href="element_string.go.html#line-11" class="ident">String</a>()
	}
	<span class="keyword">return</span> <label for="r9" class="ident">s</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> state describes a high-level HTML parser state.</span><span class="comment"></span><span class="comment"> It bounds the top of the element stack, and by extension the HTML insertion</span><span class="comment"> mode, but also contains state that does not correspond to anything in the</span><span class="comment"> HTML5 parsing algorithm because a single token production in the HTML</span><span class="comment"> grammar may contain embedded actions in a template. For instance, the quoted</span><span class="comment"> HTML attribute produced by</span><span class="comment">     &lt;div title="Hello {{.World}}"&gt;</span><span class="comment"> is a single token in HTML's grammar but in a template spans several nodes.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-state" class="ident">state</a> <a href="../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type state</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateText is parsed character data. An HTML parser is in</span><span class="comment">	 this state when its parse position is outside an HTML tag,</span><span class="comment">	 directive, comment, and special element body.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateTag occurs before an HTML attribute or the end of a tag.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateAttrName occurs inside an attribute name.</span><span class="comment">	 It occurs between the ^'s in ` ^name^ = value`.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateAfterName occurs after an attr name has ended but before any</span><span class="comment">	 equals sign. It occurs between the ^'s in ` name^ ^= value`.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateBeforeValue occurs after the equals sign but before the value.</span><span class="comment">	 It occurs between the ^'s in ` name =^ ^value`.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateHTMLCmt occurs inside an &lt;!-- HTML comment --&gt;.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateRCDATA occurs inside an RCDATA element (&lt;textarea&gt; or &lt;title&gt;)</span><span class="comment">	 as described at https://www.w3.org/TR/html5/syntax.html#elements-0</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateAttr occurs inside an HTML attribute whose content is text.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateURL occurs inside an HTML attribute whose content is a URL.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateSrcset occurs inside an HTML srcset attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateJS occurs inside an event handler or script element.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateJSDqStr occurs inside a JavaScript double quoted string.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateJSSqStr occurs inside a JavaScript single quoted string.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateJSRegexp occurs inside a JavaScript regexp literal.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateJSBlockCmt occurs inside a JavaScript  block comment .</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateJSLineCmt occurs inside a JavaScript // line comment.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSS occurs inside a &lt;style&gt; element or style attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSDqStr occurs inside a CSS double quoted string.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSSqStr occurs inside a CSS single quoted string.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSDqURL occurs inside a CSS double quoted url("...").</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSSqURL occurs inside a CSS single quoted url('...').</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSURL occurs inside a CSS unquoted url(...).</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSBlockCmt occurs inside a CSS  block comment .</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateCSSLineCmt occurs inside a CSS // line comment.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateError is an infectious error state outside any valid</span><span class="comment">	 HTML/CSS/JS construct.</span></div>
<div class="code"><pre><code>	<a href="../../../pkg/html/template.html#name-stateError" class="ident">stateError</a>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> isComment is true for any state that contains content meant for template</span><span class="comment"> authors &amp; maintainers, not for end-users or machines.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r10" class="ident"><a href="../../../pkg/html/template.html#name-isComment" class="ident">isComment</a></label>(<label for="r11" class="ident">s</label> <a href="#line-82" class="ident">state</a>) <a href="../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">switch</span> <label for="r11" class="ident">s</label> {
	<span class="keyword">case</span> <a href="#line-103" class="ident">stateHTMLCmt</a>, <a href="#line-122" class="ident">stateJSBlockCmt</a>, <a href="#line-124" class="ident">stateJSLineCmt</a>, <a href="#line-138" class="ident">stateCSSBlockCmt</a>, <a href="#line-140" class="ident">stateCSSLineCmt</a>:
		<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-true" class="ident">true</a>
	}
	<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-false" class="ident">false</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> isInTag return whether s occurs solely inside an HTML tag.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r12" class="ident"><a href="../../../pkg/html/template.html#name-isInTag" class="ident">isInTag</a></label>(<label for="r13" class="ident">s</label> <a href="#line-82" class="ident">state</a>) <a href="../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">switch</span> <label for="r13" class="ident">s</label> {
	<span class="keyword">case</span> <a href="#line-92" class="ident">stateTag</a>, <a href="#line-95" class="ident">stateAttrName</a>, <a href="#line-98" class="ident">stateAfterName</a>, <a href="#line-101" class="ident">stateBeforeValue</a>, <a href="#line-108" class="ident">stateAttr</a>:
		<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-true" class="ident">true</a>
	}
	<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-false" class="ident">false</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delim is the delimiter that will end the current HTML attribute.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-delim" class="ident">delim</a> <a href="../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type delim</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimNone occurs outside any attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimDoubleQuote occurs when a double quote (") closes the attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimSingleQuote occurs when a single quote (') closes the attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimSpaceOrTagEnd occurs when a space or right angle bracket (&gt;)</span><span class="comment">	 closes the attribute.</span></div>
<div class="code"><pre><code>	<a href="../../../pkg/html/template.html#name-delimSpaceOrTagEnd" class="ident">delimSpaceOrTagEnd</a>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> urlPart identifies a part in an RFC 3986 hierarchical URL to allow different</span><span class="comment"> encoding strategies.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-urlPart" class="ident">urlPart</a> <a href="../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type urlPart</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> urlPartNone occurs when not in a URL, or possibly at the start:</span><span class="comment">	 ^ in "^http://auth/path?k=v#frag".</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> urlPartPreQuery occurs in the scheme, authority, or path; between the</span><span class="comment">	 ^s in "h^ttp://auth/path^?k=v#frag".</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> urlPartQueryOrFrag occurs in the query portion between the ^s in</span><span class="comment">	 "http://auth/path?^k=v#frag^".</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> urlPartUnknown occurs due to joining of contexts both before and</span><span class="comment">	 after the query separator.</span></div>
<div class="code"><pre><code>	<a href="../../../pkg/html/template.html#name-urlPartUnknown" class="ident">urlPartUnknown</a>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> jsCtx determines whether a '/' starts a regular expression literal or a</span><span class="comment"> division operator.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-jsCtx" class="ident">jsCtx</a> <a href="../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type jsCtx</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> jsCtxRegexp occurs where a '/' would start a regexp literal.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> jsCtxDivOp occurs where a '/' would start a division operator.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> jsCtxUnknown occurs where a '/' is ambiguous due to context joining.</span></div>
<div class="code"><pre><code>	<a href="../../../pkg/html/template.html#name-jsCtxUnknown" class="ident">jsCtxUnknown</a>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> element identifies the HTML element when inside a start tag or special body.</span><span class="comment"> Certain HTML element (for example &lt;script&gt; and &lt;style&gt;) have bodies that are</span><span class="comment"> treated differently from stateText so the element type is necessary to</span><span class="comment"> transition into the correct context at the end of a tag and to identify the</span><span class="comment"> end delimiter for the body.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-element" class="ident">element</a> <a href="../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type element</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> elementNone occurs outside a special tag or special element body.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> elementScript corresponds to the raw text &lt;script&gt; element</span><span class="comment">	 with JS MIME type or no type attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> elementStyle corresponds to the raw text &lt;style&gt; element.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> elementTextarea corresponds to the RCDATA &lt;textarea&gt; element.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> elementTitle corresponds to the RCDATA &lt;title&gt; element.</span></div>
<div class="code"><pre><code>	<a href="../../../pkg/html/template.html#name-elementTitle" class="ident">elementTitle</a>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type attr</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attr identifies the current HTML attribute when inside the attribute,</span><span class="comment"> that is, starting from stateAttrName until stateTag/stateText (exclusive).</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../pkg/html/template.html#name-attr" class="ident">attr</a> <a href="../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>

</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attrNone corresponds to a normal attribute or no attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attrScript corresponds to an event handler attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attrScriptType corresponds to the type attribute in script HTML element</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attrStyle corresponds to the style attribute whose value is CSS.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attrURL corresponds to an attribute whose value is a URL.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attrSrcset corresponds to a srcset attribute.</span></div>
<div class="code"><pre><code>	<a href="../../../pkg/html/template.html#name-attrSrcset" class="ident">attrSrcset</a>
</code></pre></div></div>

</div><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>