<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.CommandNode.Args</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-289">CommandNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-293">Args</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">29 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-293">node.go#L293</a>: 	<b>Args</b> []Node // Arguments in lexical order: Identifier, field, or constant.
		<a href="../../../src/text/template/parse/node.go.html#line-301" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-301">#L301</a>: 	c.<b>Args</b> = append(c.<b>Args</b>, arg)
		<a href="../../../src/text/template/parse/node.go.html#line-311" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-311">#L311</a>: 	for i, arg := range c.<b>Args</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-334" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-334">#L334</a>: 	for _, c := range c.<b>Args</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-471">parse.go#L471</a>: 		switch c.<b>Args</b>[0].Type() {
		<a href="../../../src/text/template/parse/parse.go.html#line-640" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-640">#L640</a>: 	if len(cmd.<b>Args</b>) == 0 {

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-459">exec.go#L459</a>: 	firstWord := cmd.<b>Args</b>[0]
		<a href="../../../src/text/template/exec.go.html#line-462" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-462">#L462</a>: 		return s.evalFieldNode(dot, n, cmd.<b>Args</b>, final)
		<a href="../../../src/text/template/exec.go.html#line-464" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-464">#L464</a>: 		return s.evalChainNode(dot, n, cmd.<b>Args</b>, final)
		<a href="../../../src/text/template/exec.go.html#line-467" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-467">#L467</a>: 		return s.evalFunction(dot, n, cmd, cmd.<b>Args</b>, final)
		<a href="../../../src/text/template/exec.go.html#line-470" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-470">#L470</a>: 		s.notAFunction(cmd.<b>Args</b>, final)
		<a href="../../../src/text/template/exec.go.html#line-473" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-473">#L473</a>: 		return s.evalVariableNode(dot, n, cmd.<b>Args</b>, final)
		<a href="../../../src/text/template/exec.go.html#line-476" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-476">#L476</a>: 	s.notAFunction(cmd.<b>Args</b>, final)

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-129">escape.go#L129</a>: 		node, ok := idNode.<b>Args</b>[0].(*parse.IdentifierNode)
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-184" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-184">#L184</a>: 		if idNode, ok := lastCmd.<b>Args</b>[0].(*parse.IdentifierNode); ok {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-187" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-187">#L187</a>: 				if len(p.Cmds) == 1 &amp;&amp; len(lastCmd.<b>Args</b>) > 1 {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-193" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-193">#L193</a>: 					lastCmd.<b>Args</b>[0] = parse.NewIdentifier(evalArgsFuncName).SetTree(nil).SetPos(lastCmd.<b>Args</b>[0].Position())
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-268" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-268">#L268</a>: 		<b>Args</b>:     []parse.Node{parse.NewIdentifier(identifier).SetTree(nil).SetPos(pos)}, // TODO: SetTree.

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-154">escape.go#L154</a>: 		node, ok := idNode.<b>Args</b>[0].(*parse.IdentifierNode)
		<a href="../../../src/html/template/escape.go.html#line-256" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-256">#L256</a>: 		if idNode, ok := lastCmd.<b>Args</b>[0].(*parse.IdentifierNode); ok {
		<a href="../../../src/html/template/escape.go.html#line-259" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-259">#L259</a>: 				if len(p.Cmds) == 1 &amp;&amp; len(lastCmd.<b>Args</b>) > 1 {
		<a href="../../../src/html/template/escape.go.html#line-265" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-265">#L265</a>: 					lastCmd.<b>Args</b>[0] = parse.NewIdentifier("_eval_args_").SetTree(nil).SetPos(lastCmd.<b>Args</b>[0].Position())
		<a href="../../../src/html/template/escape.go.html#line-292" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-292">#L292</a>: 		if idNode, ok := cmd.<b>Args</b>[0].(*parse.IdentifierNode); ok {
		<a href="../../../src/html/template/escape.go.html#line-376" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-376">#L376</a>: 		last, okLast := cmds[n-1].<b>Args</b>[0].(*parse.IdentifierNode)
		<a href="../../../src/html/template/escape.go.html#line-377" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-377">#L377</a>: 		next, okNext := cmd.<b>Args</b>[0].(*parse.IdentifierNode)
		<a href="../../../src/html/template/escape.go.html#line-389" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-389">#L389</a>: 		<b>Args</b>:     []parse.Node{parse.NewIdentifier(identifier).SetTree(nil).SetPos(pos)}, // TODO: SetTree.
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>