<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.item.typ</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/lex.go.html#line-15">item</a>.<a href="../../../src/text/template/parse/lex.go.html#line-16">typ</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">32 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/lex.go.html#line-16">lex.go#L16</a>: 	<b>typ</b>  itemType // The type of this item.
		<a href="../../../src/text/template/parse/lex.go.html#line-24" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-24">#L24</a>: 	case i.<b>typ</b> == itemEOF:
		<a href="../../../src/text/template/parse/lex.go.html#line-26" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-26">#L26</a>: 	case i.<b>typ</b> == itemError:
		<a href="../../../src/text/template/parse/lex.go.html#line-28" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-28">#L28</a>: 	case i.<b>typ</b> > itemKeyword:
		<a href="../../../src/text/template/parse/parse.go.html#line-113">parse.go#L113</a>: 		if token.<b>typ</b> != itemSpace {
		<a href="../../../src/text/template/parse/parse.go.html#line-174" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-174">#L174</a>: 	if token.<b>typ</b> != expected {
		<a href="../../../src/text/template/parse/parse.go.html#line-183" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-183">#L183</a>: 	if token.<b>typ</b> != expected1 &amp;&amp; token.<b>typ</b> != expected2 {
		<a href="../../../src/text/template/parse/parse.go.html#line-191" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-191">#L191</a>: 	if token.<b>typ</b> == itemError {
		<a href="../../../src/text/template/parse/parse.go.html#line-296" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-296">#L296</a>: 	for t.peek().<b>typ</b> != itemEOF {
		<a href="../../../src/text/template/parse/parse.go.html#line-297" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-297">#L297</a>: 		if t.peek().<b>typ</b> == itemLeftDelim {
		<a href="../../../src/text/template/parse/parse.go.html#line-299" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-299">#L299</a>: 			if t.nextNonSpace().<b>typ</b> == itemDefine {
		<a href="../../../src/text/template/parse/parse.go.html#line-345" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-345">#L345</a>: 	for t.peekNonSpace().<b>typ</b> != itemEOF {
		<a href="../../../src/text/template/parse/parse.go.html#line-360" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-360">#L360</a>: 	switch token := t.nextNonSpace(); token.<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-385" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-385">#L385</a>: 	switch token := t.nextNonSpace(); token.<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-414" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-414">#L414</a>: 	if v := t.peekNonSpace(); v.<b>typ</b> == itemVariable {
		<a href="../../../src/text/template/parse/parse.go.html#line-423" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-423">#L423</a>: 		case next.<b>typ</b> == itemAssign, next.<b>typ</b> == itemDeclare:
		<a href="../../../src/text/template/parse/parse.go.html#line-424" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-424">#L424</a>: 			pipe.IsAssign = next.<b>typ</b> == itemAssign
		<a href="../../../src/text/template/parse/parse.go.html#line-428" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-428">#L428</a>: 		case next.<b>typ</b> == itemChar && next.val == ",":
		<a href="../../../src/text/template/parse/parse.go.html#line-433" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-433">#L433</a>: 				switch t.peekNonSpace().<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-442" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-442">#L442</a>: 		case tokenAfterVariable.<b>typ</b> == itemSpace:
		<a href="../../../src/text/template/parse/parse.go.html#line-449" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-449">#L449</a>: 		switch token := t.nextNonSpace(); token.<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-496" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-496">#L496</a>: 			if t.peek().<b>typ</b> == itemIf {
		<a href="../../../src/text/template/parse/parse.go.html#line-549" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-549">#L549</a>: 	if peek.<b>typ</b> == itemIf {
		<a href="../../../src/text/template/parse/parse.go.html#line-594" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-594">#L594</a>: 	if t.nextNonSpace().<b>typ</b> != itemRightDelim {
		<a href="../../../src/text/template/parse/parse.go.html#line-603" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-603">#L603</a>: 	switch token.<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-628" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-628">#L628</a>: 		switch token := t.next(); token.<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-656" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-656">#L656</a>: 	if t.peek().<b>typ</b> == itemField {
		<a href="../../../src/text/template/parse/parse.go.html#line-658" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-658">#L658</a>: 		for t.peek().<b>typ</b> == itemField {
		<a href="../../../src/text/template/parse/parse.go.html#line-690" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-690">#L690</a>: 	switch token := t.nextNonSpace(); token.<b>typ</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-707" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-707">#L707</a>: 		number, err := t.newNumber(token.pos, token.val, token.<b>typ</b>)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>