<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.DotNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-422">DotNode</a></b></span>

<span class="title">11 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-422">node.go#L422</a>: type <b>DotNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-428" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-428">#L428</a>: func (t *Tree) newDot(pos Pos) *<b>DotNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-429" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-429">#L429</a>: 	return &amp;<b>DotNode</b>{tr: t, NodeType: NodeDot, Pos: pos}
		<a href="../../../src/text/template/parse/node.go.html#line-432" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-432">#L432</a>: func (d *<b>DotNode</b>) Type() NodeType {
		<a href="../../../src/text/template/parse/node.go.html#line-439" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-439">#L439</a>: func (d *<b>DotNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-443" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-443">#L443</a>: func (d *<b>DotNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-447" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-447">#L447</a>: func (d *<b>DotNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-451" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-451">#L451</a>: func (d *<b>DotNode</b>) Copy() Node {

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-480">exec.go#L480</a>: 	case *parse.<b>DotNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-795" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-795">#L795</a>: 	case *parse.<b>DotNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-909" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-909">#L909</a>: 	case *parse.<b>DotNode</b>:
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>