<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.BranchNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-839">BranchNode</a></b></span>

<span class="title">13 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-839">node.go#L839</a>: type <b>BranchNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-849" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-849">#L849</a>: func (b *<b>BranchNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-855" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-855">#L855</a>: func (b *<b>BranchNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-880" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-880">#L880</a>: func (b *<b>BranchNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-884" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-884">#L884</a>: func (b *<b>BranchNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/node.go.html#line-899" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-899">#L899</a>: 	<b>BranchNode</b>
		<a href="../../../src/text/template/parse/node.go.html#line-903" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-903">#L903</a>: 	return &amp;IfNode{<b>BranchNode</b>{tr: t, NodeType: NodeIf, Pos: pos, Line: line, Pipe: pipe, List: list, ElseList: elseList}}
		<a href="../../../src/text/template/parse/node.go.html#line-912" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-912">#L912</a>: 	<b>BranchNode</b>
		<a href="../../../src/text/template/parse/node.go.html#line-916" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-916">#L916</a>: 	return &amp;RangeNode{<b>BranchNode</b>{tr: t, NodeType: NodeRange, Pos: pos, Line: line, Pipe: pipe, List: list, ElseList: elseList}}
		<a href="../../../src/text/template/parse/node.go.html#line-925" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-925">#L925</a>: 	<b>BranchNode</b>
		<a href="../../../src/text/template/parse/node.go.html#line-929" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-929">#L929</a>: 	return &amp;WithNode{<b>BranchNode</b>{tr: t, NodeType: NodeWith, Pos: pos, Line: line, Pipe: pipe, List: list, ElseList: elseList}}

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-379">escape.go#L379</a>: func (e *escaper) escapeBranch(c context, n *parse.<b>BranchNode</b>, nodeName string) context {

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-468">escape.go#L468</a>: func (e *escaper) escapeBranch(c context, n *parse.<b>BranchNode</b>, nodeName string) context {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>