<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.TextNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-126">TextNode</a></b></span>

<span class="title">22 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-126">node.go#L126</a>: type <b>TextNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-133" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-133">#L133</a>: func (t *Tree) newText(pos Pos, text string) *<b>TextNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-134" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-134">#L134</a>: 	return &amp;<b>TextNode</b>{tr: t, NodeType: NodeText, Pos: pos, Text: []byte(text)}
		<a href="../../../src/text/template/parse/node.go.html#line-137" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-137">#L137</a>: func (t *<b>TextNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-141" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-141">#L141</a>: func (t *<b>TextNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-145" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-145">#L145</a>: func (t *<b>TextNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-149" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-149">#L149</a>: func (t *<b>TextNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/node.go.html#line-150" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-150">#L150</a>: 	return &amp;<b>TextNode</b>{tr: t.tr, NodeType: NodeText, Pos: t.Pos, Text: append([]byte{}, t.Text...)}
		<a href="../../../src/text/template/parse/parse.go.html#line-282">parse.go#L282</a>: 	case *<b>TextNode</b>:

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-270">exec.go#L270</a>: 	case *parse.<b>TextNode</b>:

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-83">escape.go#L83</a>: 	textNodeEdits     map[*parse.<b>TextNode</b>][]byte
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-95" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-95">#L95</a>: 		map[*parse.<b>TextNode</b>][]byte{},
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-112" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-112">#L112</a>: 	case *parse.<b>TextNode</b>:
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-580" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-580">#L580</a>: func (e *escaper) escapeText(c context, n *parse.<b>TextNode</b>) context {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-742" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-742">#L742</a>: func (e *escaper) editTextNode(n *parse.<b>TextNode</b>, text []byte) {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-777" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-777">#L777</a>: 	e.textNodeEdits = make(map[*parse.<b>TextNode</b>][]byte)

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-99">escape.go#L99</a>: 	textNodeEdits     map[*parse.<b>TextNode</b>][]byte
		<a href="../../../src/html/template/escape.go.html#line-111" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-111">#L111</a>: 		map[*parse.<b>TextNode</b>][]byte{},
		<a href="../../../src/html/template/escape.go.html#line-137" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-137">#L137</a>: 	case *parse.<b>TextNode</b>:
		<a href="../../../src/html/template/escape.go.html#line-648" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-648">#L648</a>: func (e *escaper) escapeText(c context, n *parse.<b>TextNode</b>) context {
		<a href="../../../src/html/template/escape.go.html#line-795" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-795">#L795</a>: func (e *escaper) editTextNode(n *parse.<b>TextNode</b>, text []byte) {
		<a href="../../../src/html/template/escape.go.html#line-830" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-830">#L830</a>: 	e.textNodeEdits = make(map[*parse.<b>TextNode</b>][]byte)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>