<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.TemplateNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-937">TemplateNode</a></b></span>

<span class="title">22 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-937">node.go#L937</a>: type <b>TemplateNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-946" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-946">#L946</a>: func (t *Tree) newTemplate(pos Pos, line int, name string, pipe *PipeNode) *<b>TemplateNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-947" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-947">#L947</a>: 	return &amp;<b>TemplateNode</b>{tr: t, NodeType: NodeTemplate, Pos: pos, Line: line, Name: name, Pipe: pipe}
		<a href="../../../src/text/template/parse/node.go.html#line-950" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-950">#L950</a>: func (t *<b>TemplateNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-956" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-956">#L956</a>: func (t *<b>TemplateNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-966" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-966">#L966</a>: func (t *<b>TemplateNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-970" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-970">#L970</a>: func (t *<b>TemplateNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/parse.go.html#line-281">parse.go#L281</a>: 	case *<b>TemplateNode</b>:

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-268">exec.go#L268</a>: 	case *parse.<b>TemplateNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-402" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-402">#L402</a>: func (s *state) walkTemplate(dot reflect.Value, t *parse.<b>TemplateNode</b>) {

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-82">escape.go#L82</a>: 	templateNodeEdits map[*parse.<b>TemplateNode</b>]string
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-94" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-94">#L94</a>: 		map[*parse.<b>TemplateNode</b>]string{},
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-110" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-110">#L110</a>: 	case *parse.<b>TemplateNode</b>:
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-448" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-448">#L448</a>: func (e *escaper) escapeTemplate(c context, n *parse.<b>TemplateNode</b>) context {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-734" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-734">#L734</a>: func (e *escaper) editTemplateNode(n *parse.<b>TemplateNode</b>, callee string) {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-776" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-776">#L776</a>: 	e.templateNodeEdits = make(map[*parse.<b>TemplateNode</b>]string)

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-98">escape.go#L98</a>: 	templateNodeEdits map[*parse.<b>TemplateNode</b>]string
		<a href="../../../src/html/template/escape.go.html#line-110" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-110">#L110</a>: 		map[*parse.<b>TemplateNode</b>]string{},
		<a href="../../../src/html/template/escape.go.html#line-135" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-135">#L135</a>: 	case *parse.<b>TemplateNode</b>:
		<a href="../../../src/html/template/escape.go.html#line-537" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-537">#L537</a>: func (e *escaper) escapeTemplate(c context, n *parse.<b>TemplateNode</b>) context {
		<a href="../../../src/html/template/escape.go.html#line-787" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-787">#L787</a>: func (e *escaper) editTemplateNode(n *parse.<b>TemplateNode</b>, callee string) {
		<a href="../../../src/html/template/escape.go.html#line-829" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-829">#L829</a>: 	e.templateNodeEdits = make(map[*parse.<b>TemplateNode</b>]string)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>