<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.IdentifierNode.Ident</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-341">IdentifierNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-345">Ident</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">14 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-345">node.go#L345</a>: 	<b>Ident</b> string // The identifier's name.
		<a href="../../../src/text/template/parse/node.go.html#line-350" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-350">#L350</a>: 	return &amp;IdentifierNode{NodeType: NodeIdentifier, <b>Ident</b>: ident}
		<a href="../../../src/text/template/parse/node.go.html#line-370" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-370">#L370</a>: 	return i.<b>Ident</b>
		<a href="../../../src/text/template/parse/node.go.html#line-382" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-382">#L382</a>: 	return NewIdentifier(i.<b>Ident</b>).SetTree(i.tr).SetPos(i.Pos)

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-575">exec.go#L575</a>: 	name := node.<b>Ident</b>

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-140">escape.go#L140</a>: 		ident := node.<b>Ident</b>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-185" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-185">#L185</a>: 			if esc := idNode.<b>Ident</b>; predefinedEscapers[esc] {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-202" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-202">#L202</a>: 						s[i] = idNode.<b>Ident</b>

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-165">escape.go#L165</a>: 		ident := node.<b>Ident</b>
		<a href="../../../src/html/template/escape.go.html#line-257" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-257">#L257</a>: 			if esc := idNode.<b>Ident</b>; predefinedEscapers[esc] {
		<a href="../../../src/html/template/escape.go.html#line-274" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-274">#L274</a>: 						s[i] = idNode.<b>Ident</b>
		<a href="../../../src/html/template/escape.go.html#line-293" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-293">#L293</a>: 			insertedIdents[normalizeEscFn(idNode.<b>Ident</b>)] = true
		<a href="../../../src/html/template/escape.go.html#line-378" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-378">#L378</a>: 		if okLast &amp;&amp; okNext &amp;&amp; redundantFuncs[last.<b>Ident</b>][next.<b>Ident</b>] {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>