<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.lexer</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/lex.go.html#line-109">lexer</a></b></span>

<span class="title">34 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/lex.go.html#line-106">lex.go#L106</a>: type stateFn func(*<b>lexer</b>) stateFn
		<a href="../../../src/text/template/parse/lex.go.html#line-109" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-109">#L109</a>: type <b>lexer</b> struct {
		<a href="../../../src/text/template/parse/lex.go.html#line-125" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-125">#L125</a>: func (l *<b>lexer</b>) next() rune {
		<a href="../../../src/text/template/parse/lex.go.html#line-140" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-140">#L140</a>: func (l *<b>lexer</b>) peek() rune {
		<a href="../../../src/text/template/parse/lex.go.html#line-147" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-147">#L147</a>: func (l *<b>lexer</b>) backup() {
		<a href="../../../src/text/template/parse/lex.go.html#line-156" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-156">#L156</a>: func (l *<b>lexer</b>) emit(t itemType) {
		<a href="../../../src/text/template/parse/lex.go.html#line-163" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-163">#L163</a>: func (l *<b>lexer</b>) ignore() {
		<a href="../../../src/text/template/parse/lex.go.html#line-170" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-170">#L170</a>: func (l *<b>lexer</b>) accept(valid string) bool {
		<a href="../../../src/text/template/parse/lex.go.html#line-179" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-179">#L179</a>: func (l *<b>lexer</b>) acceptRun(valid string) {
		<a href="../../../src/text/template/parse/lex.go.html#line-187" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-187">#L187</a>: func (l *<b>lexer</b>) errorf(format string, args ...interface{}) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-194" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-194">#L194</a>: func (l *<b>lexer</b>) nextItem() item {
		<a href="../../../src/text/template/parse/lex.go.html#line-200" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-200">#L200</a>: func (l *<b>lexer</b>) drain() {
		<a href="../../../src/text/template/parse/lex.go.html#line-206" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-206">#L206</a>: func lex(name, input, left, right string, emitComment bool) *<b>lexer</b> {
		<a href="../../../src/text/template/parse/lex.go.html#line-213" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-213">#L213</a>: 	l := &amp;<b>lexer</b>{
		<a href="../../../src/text/template/parse/lex.go.html#line-228" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-228">#L228</a>: func (l *<b>lexer</b>) run() {
		<a href="../../../src/text/template/parse/lex.go.html#line-245" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-245">#L245</a>: func lexText(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-279" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-279">#L279</a>: func (l *<b>lexer</b>) atRightDelim() (delim, trimSpaces bool) {
		<a href="../../../src/text/template/parse/lex.go.html#line-295" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-295">#L295</a>: func lexLeftDelim(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-315" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-315">#L315</a>: func lexComment(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-341" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-341">#L341</a>: func lexRightDelim(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-357" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-357">#L357</a>: func lexInsideAction(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-426" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-426">#L426</a>: func lexSpace(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-450" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-450">#L450</a>: func lexIdentifier(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-480" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-480">#L480</a>: func lexField(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-486" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-486">#L486</a>: func lexVariable(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-496" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-496">#L496</a>: func lexFieldOrVariable(l *<b>lexer</b>, typ itemType) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-524" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-524">#L524</a>: func (l *<b>lexer</b>) atTerminator() bool {
		<a href="../../../src/text/template/parse/lex.go.html#line-544" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-544">#L544</a>: func lexChar(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-567" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-567">#L567</a>: func lexNumber(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-583" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-583">#L583</a>: func (l *<b>lexer</b>) scanNumber() bool {
		<a href="../../../src/text/template/parse/lex.go.html#line-621" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-621">#L621</a>: func lexQuote(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/lex.go.html#line-641" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-641">#L641</a>: func lexRawQuote(l *<b>lexer</b>) stateFn {
		<a href="../../../src/text/template/parse/parse.go.html#line-28">parse.go#L28</a>: 	lex        *<b>lexer</b>
		<a href="../../../src/text/template/parse/parse.go.html#line-220" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-220">#L220</a>: func (t *Tree) startParse(funcs []map[string]interface{}, lex *<b>lexer</b>, treeSet map[string]*Tree) {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>