<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.NumberNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-613">NumberNode</a></b></span>

<span class="title">16 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-613">node.go#L613</a>: type <b>NumberNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-628" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-628">#L628</a>: func (t *Tree) newNumber(pos Pos, text string, typ itemType) (*<b>NumberNode</b>, error) {
		<a href="../../../src/text/template/parse/node.go.html#line-629" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-629">#L629</a>: 	n := &amp;<b>NumberNode</b>{tr: t, NodeType: NodeNumber, Pos: pos, Text: text}
		<a href="../../../src/text/template/parse/node.go.html#line-716" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-716">#L716</a>: func (n *<b>NumberNode</b>) simplifyComplex() {
		<a href="../../../src/text/template/parse/node.go.html#line-731" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-731">#L731</a>: func (n *<b>NumberNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-735" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-735">#L735</a>: func (n *<b>NumberNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-739" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-739">#L739</a>: func (n *<b>NumberNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-743" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-743">#L743</a>: func (n *<b>NumberNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/node.go.html#line-744" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-744">#L744</a>: 	nn := new(<b>NumberNode</b>)

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-484">exec.go#L484</a>: 	case *parse.<b>NumberNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-497" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-497">#L497</a>: func (s *state) idealConstant(constant *parse.<b>NumberNode</b>) reflect.Value {
		<a href="../../../src/text/template/exec.go.html#line-863" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-863">#L863</a>: 	if n, ok := n.(*parse.<b>NumberNode</b>); ok && n.IsInt {
		<a href="../../../src/text/template/exec.go.html#line-874" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-874">#L874</a>: 	if n, ok := n.(*parse.<b>NumberNode</b>); ok && n.IsUint {
		<a href="../../../src/text/template/exec.go.html#line-885" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-885">#L885</a>: 	if n, ok := n.(*parse.<b>NumberNode</b>); ok && n.IsFloat {
		<a href="../../../src/text/template/exec.go.html#line-895" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-895">#L895</a>: 	if n, ok := n.(*parse.<b>NumberNode</b>); ok && n.IsComplex {
		<a href="../../../src/text/template/exec.go.html#line-918" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-918">#L918</a>: 	case *parse.<b>NumberNode</b>:
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>