<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.NumberNode.IsUint</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-613">NumberNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-618">IsUint</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">12 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-618">node.go#L618</a>: 	<b>IsUint</b>     bool       // Number has an unsigned integral value.
		<a href="../../../src/text/template/parse/node.go.html#line-642" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-642">#L642</a>: 		n.<b>IsUint</b> = true
		<a href="../../../src/text/template/parse/node.go.html#line-668" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-668">#L668</a>: 		n.<b>IsUint</b> = true
		<a href="../../../src/text/template/parse/node.go.html#line-676" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-676">#L676</a>: 			n.<b>IsUint</b> = true // in case of -0.
		<a href="../../../src/text/template/parse/node.go.html#line-684" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-684">#L684</a>: 	} else if n.<b>IsUint</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-702" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-702">#L702</a>: 			if !n.<b>IsUint</b> && float64(uint64(f)) == f {
		<a href="../../../src/text/template/parse/node.go.html#line-703" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-703">#L703</a>: 				n.<b>IsUint</b> = true
		<a href="../../../src/text/template/parse/node.go.html#line-708" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-708">#L708</a>: 	if !n.IsInt &amp;&amp; !n.<b>IsUint</b> && !n.IsFloat {
		<a href="../../../src/text/template/parse/node.go.html#line-724" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-724">#L724</a>: 		n.<b>IsUint</b> = float64(uint64(n.Float64)) == n.Float64
		<a href="../../../src/text/template/parse/node.go.html#line-725" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-725">#L725</a>: 		if n.<b>IsUint</b> {

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-518">exec.go#L518</a>: 	case constant.<b>IsUint</b>:
		<a href="../../../src/text/template/exec.go.html#line-874" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-874">#L874</a>: 	if n, ok := n.(*parse.NumberNode); ok &amp;&amp; n.<b>IsUint</b> {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>