<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.BranchNode.Pipe</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-839">BranchNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-844">Pipe</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">16 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-844">node.go#L844</a>: 	<b>Pipe</b>     *PipeNode // The pipeline to be evaluated.
		<a href="../../../src/text/template/parse/node.go.html#line-870" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-870">#L870</a>: 	b.<b>Pipe</b>.writeTo(sb)
		<a href="../../../src/text/template/parse/node.go.html#line-887" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-887">#L887</a>: 		return b.tr.newIf(b.Pos, b.Line, b.<b>Pipe</b>, b.List, b.ElseList)
		<a href="../../../src/text/template/parse/node.go.html#line-889" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-889">#L889</a>: 		return b.tr.newRange(b.Pos, b.Line, b.<b>Pipe</b>, b.List, b.ElseList)
		<a href="../../../src/text/template/parse/node.go.html#line-891" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-891">#L891</a>: 		return b.tr.newWith(b.Pos, b.Line, b.<b>Pipe</b>, b.List, b.ElseList)
		<a href="../../../src/text/template/parse/node.go.html#line-903" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-903">#L903</a>: 	return &amp;IfNode{BranchNode{tr: t, NodeType: NodeIf, Pos: pos, Line: line, <b>Pipe</b>: pipe, List: list, ElseList: elseList}}
		<a href="../../../src/text/template/parse/node.go.html#line-907" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-907">#L907</a>: 	return i.tr.newIf(i.Pos, i.Line, i.<b>Pipe</b>.CopyPipe(), i.List.CopyList(), i.ElseList.CopyList())
		<a href="../../../src/text/template/parse/node.go.html#line-916" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-916">#L916</a>: 	return &amp;RangeNode{BranchNode{tr: t, NodeType: NodeRange, Pos: pos, Line: line, <b>Pipe</b>: pipe, List: list, ElseList: elseList}}
		<a href="../../../src/text/template/parse/node.go.html#line-920" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-920">#L920</a>: 	return r.tr.newRange(r.Pos, r.Line, r.<b>Pipe</b>.CopyPipe(), r.List.CopyList(), r.ElseList.CopyList())
		<a href="../../../src/text/template/parse/node.go.html#line-929" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-929">#L929</a>: 	return &amp;WithNode{BranchNode{tr: t, NodeType: NodeWith, Pos: pos, Line: line, <b>Pipe</b>: pipe, List: list, ElseList: elseList}}
		<a href="../../../src/text/template/parse/node.go.html#line-933" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-933">#L933</a>: 	return w.tr.newWith(w.Pos, w.Line, w.<b>Pipe</b>.CopyPipe(), w.List.CopyList(), w.ElseList.CopyList())

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-261">exec.go#L261</a>: 		s.walkIfOrWith(parse.NodeIf, dot, node.<b>Pipe</b>, node.List, node.ElseList)
		<a href="../../../src/text/template/exec.go.html#line-275" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-275">#L275</a>: 		s.walkIfOrWith(parse.NodeWith, dot, node.<b>Pipe</b>, node.List, node.ElseList)
		<a href="../../../src/text/template/exec.go.html#line-339" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-339">#L339</a>: 	val, _ := indirect(s.evalPipeline(dot, r.<b>Pipe</b>))
		<a href="../../../src/text/template/exec.go.html#line-344" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-344">#L344</a>: 		if len(r.<b>Pipe</b>.Decl) > 0 {
		<a href="../../../src/text/template/exec.go.html#line-348" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-348">#L348</a>: 		if len(r.<b>Pipe</b>.Decl) > 1 {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>