<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.item.pos</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/lex.go.html#line-15">item</a>.<a href="../../../src/text/template/parse/lex.go.html#line-17">pos</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">24 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/lex.go.html#line-17">lex.go#L17</a>: 	<b>pos</b>  Pos      // The starting position, in bytes, of this item in the input string.
		<a href="../../../src/text/template/parse/parse.go.html#line-295">parse.go#L295</a>: 	t.Root = t.newList(t.peek().<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-344" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-344">#L344</a>: 	list = t.newList(t.peekNonSpace().<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-362" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-362">#L362</a>: 		return t.newText(token.<b>pos</b>, token.val)
		<a href="../../../src/text/template/parse/parse.go.html#line-368" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-368">#L368</a>: 		return t.newComment(token.<b>pos</b>, token.val)
		<a href="../../../src/text/template/parse/parse.go.html#line-404" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-404">#L404</a>: 	return t.newAction(token.<b>pos</b>, token.line, t.pipeline("command", itemRightDelim))
		<a href="../../../src/text/template/parse/parse.go.html#line-411" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-411">#L411</a>: 	pipe = t.newPipeline(token.<b>pos</b>, token.line, nil)
		<a href="../../../src/text/template/parse/parse.go.html#line-426" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-426">#L426</a>: 			pipe.Decl = append(pipe.Decl, t.newVariable(v.<b>pos</b>, v.val))
		<a href="../../../src/text/template/parse/parse.go.html#line-430" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-430">#L430</a>: 			pipe.Decl = append(pipe.Decl, t.newVariable(v.<b>pos</b>, v.val))
		<a href="../../../src/text/template/parse/parse.go.html#line-540" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-540">#L540</a>: 	return t.newEnd(t.expect(itemRightDelim, "end").<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-551" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-551">#L551</a>: 		return t.newElse(peek.<b>pos</b>, peek.line)
		<a href="../../../src/text/template/parse/parse.go.html#line-554" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-554">#L554</a>: 	return t.newElse(token.<b>pos</b>, token.line)
		<a href="../../../src/text/template/parse/parse.go.html#line-582" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-582">#L582</a>: 	return t.newTemplate(token.<b>pos</b>, token.line, name, pipe)
		<a href="../../../src/text/template/parse/parse.go.html#line-599" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-599">#L599</a>: 	return t.newTemplate(token.<b>pos</b>, token.line, name, pipe)
		<a href="../../../src/text/template/parse/parse.go.html#line-621" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-621">#L621</a>: 	cmd := t.newCommand(t.peekNonSpace().<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-657" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-657">#L657</a>: 		chain := t.newChain(t.peek().<b>pos</b>, node)
		<a href="../../../src/text/template/parse/parse.go.html#line-695" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-695">#L695</a>: 		return NewIdentifier(token.val).SetTree(t).SetPos(token.<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-697" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-697">#L697</a>: 		return t.newDot(token.<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-699" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-699">#L699</a>: 		return t.newNil(token.<b>pos</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-701" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-701">#L701</a>: 		return t.useVar(token.<b>pos</b>, token.val)
		<a href="../../../src/text/template/parse/parse.go.html#line-703" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-703">#L703</a>: 		return t.newField(token.<b>pos</b>, token.val)
		<a href="../../../src/text/template/parse/parse.go.html#line-705" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-705">#L705</a>: 		return t.newBool(token.<b>pos</b>, token.val == "true")
		<a href="../../../src/text/template/parse/parse.go.html#line-707" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-707">#L707</a>: 		number, err := t.newNumber(token.<b>pos</b>, token.val, token.typ)
		<a href="../../../src/text/template/parse/parse.go.html#line-719" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-719">#L719</a>: 		return t.newString(token.<b>pos</b>, token.val, s)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>