<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.itemRightDelim</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">const <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/lex.go.html#line-56">itemRightDelim</a></b></span>

<span class="title">12 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/lex.go.html#line-56">lex.go#L56</a>: 	<b>itemRightDelim</b> // right action delimiter
		<a href="../../../src/text/template/parse/lex.go.html#line-348" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-348">#L348</a>: 	l.emit(<b>itemRightDelim</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-330">parse.go#L330</a>: 	t.expect(<b>itemRightDelim</b>, context)
		<a href="../../../src/text/template/parse/parse.go.html#line-404" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-404">#L404</a>: 	return t.newAction(token.pos, token.line, t.pipeline("command", <b>itemRightDelim</b>))
		<a href="../../../src/text/template/parse/parse.go.html#line-434" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-434">#L434</a>: 				case itemVariable, <b>itemRightDelim</b>, itemRightParen:
		<a href="../../../src/text/template/parse/parse.go.html#line-481" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-481">#L481</a>: 	pipe = t.pipeline(context, <b>itemRightDelim</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-540" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-540">#L540</a>: 	return t.newEnd(t.expect(<b>itemRightDelim</b>, "end").pos)
		<a href="../../../src/text/template/parse/parse.go.html#line-553" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-553">#L553</a>: 	token := t.expect(<b>itemRightDelim</b>, "else")
		<a href="../../../src/text/template/parse/parse.go.html#line-567" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-567">#L567</a>: 	pipe := t.pipeline(context, <b>itemRightDelim</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-594" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-594">#L594</a>: 	if t.nextNonSpace().typ != <b>itemRightDelim</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-597" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-597">#L597</a>: 		pipe = t.pipeline(context, <b>itemRightDelim</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-631" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-631">#L631</a>: 		case <b>itemRightDelim</b>, itemRightParen:
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>