<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.Tree.Root</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/parse.go.html#line-20">Tree</a>.<a href="../../../src/text/template/parse/parse.go.html#line-23">Root</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">28 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/parse.go.html#line-23">parse.go#L23</a>: 	<b>Root</b>      *ListNode // top-level root of the tree.
		<a href="../../../src/text/template/parse/parse.go.html#line-52" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-52">#L52</a>: 		<b>Root</b>:      t.<b>Root</b>.CopyList(),
		<a href="../../../src/text/template/parse/parse.go.html#line-161" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-161">#L161</a>: 	t.<b>Root</b> = nil
		<a href="../../../src/text/template/parse/parse.go.html#line-221" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-221">#L221</a>: 	t.<b>Root</b> = nil
		<a href="../../../src/text/template/parse/parse.go.html#line-255" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-255">#L255</a>: 	if tree == nil || IsEmptyTree(tree.<b>Root</b>) {
		<a href="../../../src/text/template/parse/parse.go.html#line-259" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-259">#L259</a>: 	if !IsEmptyTree(t.<b>Root</b>) {
		<a href="../../../src/text/template/parse/parse.go.html#line-295" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-295">#L295</a>: 	t.<b>Root</b> = t.newList(t.peek().pos)
		<a href="../../../src/text/template/parse/parse.go.html#line-314" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-314">#L314</a>: 			t.<b>Root</b>.append(n)
		<a href="../../../src/text/template/parse/parse.go.html#line-332" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-332">#L332</a>: 	t.<b>Root</b>, end = t.itemList()
		<a href="../../../src/text/template/parse/parse.go.html#line-575" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-575">#L575</a>: 	block.<b>Root</b>, end = block.itemList()

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-217">exec.go#L217</a>: 	if t.Tree == nil || t.<b>Root</b> == nil {
		<a href="../../../src/text/template/exec.go.html#line-220" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-220">#L220</a>: 	state.walk(value, t.<b>Root</b>)
		<a href="../../../src/text/template/exec.go.html#line-234" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-234">#L234</a>: 		if tmpl.Tree == nil || tmpl.<b>Root</b> == nil {
		<a href="../../../src/text/template/exec.go.html#line-418" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-418">#L418</a>: 	newState.walk(dot, tmpl.<b>Root</b>)
		<a href="../../../src/text/template/template.go.html#line-222">template.go#L222</a>: 	if old := t.tmpl[new.name]; old != nil &amp;&amp; parse.IsEmptyTree(tree.<b>Root</b>) && old.Tree != nil {

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-532">escape.go#L532</a>: 			err:   errorf(ErrOutputContext, t.Tree.<b>Root</b>, 0, "cannot compute output context for template %s", t.Name()),
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-560" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-560">#L560</a>: 	return e.escapeListConditionally(c, t.Tree.<b>Root</b>, filter)
		<a href="../../../src/github.com/google/safehtml/template/template.go.html#line-110">template.go#L110</a>: 		if err := escapeTemplate(t, t.text.<b>Root</b>, t.Name()); err != nil {
		<a href="../../../src/github.com/google/safehtml/template/template.go.html#line-206" class="path-duplicate">template.go</a><a href="../../../src/github.com/google/safehtml/template/template.go.html#line-206">#L206</a>: 	if tmpl.text.Tree == nil || tmpl.text.<b>Root</b> == nil {
		<a href="../../../src/github.com/google/safehtml/template/template.go.html#line-213" class="path-duplicate">template.go</a><a href="../../../src/github.com/google/safehtml/template/template.go.html#line-213">#L213</a>: 		err = escapeTemplate(tmpl, tmpl.text.<b>Root</b>, name)

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-577">escape.go#L577</a>: 			dt.Tree = &amp;parse.Tree{Name: dname, <b>Root</b>: t.<b>Root</b>.CopyList()}
		<a href="../../../src/html/template/escape.go.html#line-600" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-600">#L600</a>: 			err:   errorf(ErrOutputContext, t.Tree.<b>Root</b>, 0, "cannot compute output context for template %s", t.Name()),
		<a href="../../../src/html/template/escape.go.html#line-628" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-628">#L628</a>: 	return e.escapeListConditionally(c, t.Tree.<b>Root</b>, filter)
		<a href="../../../src/html/template/template.go.html#line-104">template.go#L104</a>: 		if err := escapeTemplate(t, t.text.<b>Root</b>, t.Name()); err != nil {
		<a href="../../../src/html/template/template.go.html#line-156" class="path-duplicate">template.go</a><a href="../../../src/html/template/template.go.html#line-156">#L156</a>: 	if tmpl.text.Tree == nil || tmpl.text.<b>Root</b> == nil {
		<a href="../../../src/html/template/template.go.html#line-163" class="path-duplicate">template.go</a><a href="../../../src/html/template/template.go.html#line-163">#L163</a>: 		err = escapeTemplate(tmpl, tmpl.text.<b>Root</b>, name)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>