<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.PipeNode.Decl</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-186">PipeNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-192">Decl</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">17 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-192">node.go#L192</a>: 	<b>Decl</b>     []*VariableNode // Variables in lexical order.
		<a href="../../../src/text/template/parse/node.go.html#line-197" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-197">#L197</a>: 	return &amp;PipeNode{tr: t, NodeType: NodePipe, Pos: pos, Line: line, <b>Decl</b>: vars}
		<a href="../../../src/text/template/parse/node.go.html#line-211" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-211">#L211</a>: 	if len(p.<b>Decl</b>) > 0 {
		<a href="../../../src/text/template/parse/node.go.html#line-212" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-212">#L212</a>: 		for i, v := range p.<b>Decl</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-236" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-236">#L236</a>: 	vars := make([]*VariableNode, len(p.<b>Decl</b>))
		<a href="../../../src/text/template/parse/node.go.html#line-237" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-237">#L237</a>: 	for i, d := range p.<b>Decl</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-426">parse.go#L426</a>: 			pipe.<b>Decl</b> = append(pipe.<b>Decl</b>, t.newVariable(v.pos, v.val))
		<a href="../../../src/text/template/parse/parse.go.html#line-430" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-430">#L430</a>: 			pipe.<b>Decl</b> = append(pipe.<b>Decl</b>, t.newVariable(v.pos, v.val))
		<a href="../../../src/text/template/parse/parse.go.html#line-432" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-432">#L432</a>: 			if context == "range" &amp;&amp; len(pipe.<b>Decl</b>) < 2 {

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-256">exec.go#L256</a>: 		if len(node.Pipe.<b>Decl</b>) == 0 {
		<a href="../../../src/text/template/exec.go.html#line-344" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-344">#L344</a>: 		if len(r.Pipe.<b>Decl</b>) > 0 {
		<a href="../../../src/text/template/exec.go.html#line-348" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-348">#L348</a>: 		if len(r.Pipe.<b>Decl</b>) > 1 {
		<a href="../../../src/text/template/exec.go.html#line-442" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-442">#L442</a>: 	for _, variable := range pipe.<b>Decl</b> {

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-122">escape.go#L122</a>: 	if len(n.Pipe.<b>Decl</b>) != 0 {

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-147">escape.go#L147</a>: 	if len(n.Pipe.<b>Decl</b>) != 0 {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>