<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.lexer.next</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/lex.go.html#line-109">lexer</a>.<a href="../../../src/text/template/parse/lex.go.html#line-125">next</a></b></span><span style="font-size: large;"><i> (method)</i></span>

<span class="title">15 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/lex.go.html#line-125">lex.go#L125</a>: func (l *lexer) <b>next</b>() rune {
		<a href="../../../src/text/template/parse/lex.go.html#line-141" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-141">#L141</a>: 	r := l.<b>next</b>()
		<a href="../../../src/text/template/parse/lex.go.html#line-171" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-171">#L171</a>: 	if strings.ContainsRune(valid, l.<b>next</b>()) {
		<a href="../../../src/text/template/parse/lex.go.html#line-180" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-180">#L180</a>: 	for strings.ContainsRune(valid, l.<b>next</b>()) {
		<a href="../../../src/text/template/parse/lex.go.html#line-368" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-368">#L368</a>: 	switch r := l.<b>next</b>(); {
		<a href="../../../src/text/template/parse/lex.go.html#line-377" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-377">#L377</a>: 		if l.<b>next</b>() != '=' {
		<a href="../../../src/text/template/parse/lex.go.html#line-434" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-434">#L434</a>: 		l.<b>next</b>()
		<a href="../../../src/text/template/parse/lex.go.html#line-453" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-453">#L453</a>: 		switch r := l.<b>next</b>(); {
		<a href="../../../src/text/template/parse/lex.go.html#line-507" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-507">#L507</a>: 		r = l.<b>next</b>()
		<a href="../../../src/text/template/parse/lex.go.html#line-547" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-547">#L547</a>: 		switch l.<b>next</b>() {
		<a href="../../../src/text/template/parse/lex.go.html#line-549" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-549">#L549</a>: 			if r := l.<b>next</b>(); r != eof && r != '\n' {
		<a href="../../../src/text/template/parse/lex.go.html#line-614" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-614">#L614</a>: 		l.<b>next</b>()
		<a href="../../../src/text/template/parse/lex.go.html#line-624" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-624">#L624</a>: 		switch l.<b>next</b>() {
		<a href="../../../src/text/template/parse/lex.go.html#line-626" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-626">#L626</a>: 			if r := l.<b>next</b>(); r != eof && r != '\n' {
		<a href="../../../src/text/template/parse/lex.go.html#line-644" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-644">#L644</a>: 		switch l.<b>next</b>() {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>