<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.Tree.nextNonSpace</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/parse.go.html#line-20">Tree</a>.<a href="../../../src/text/template/parse/parse.go.html#line-110">nextNonSpace</a></b></span><span style="font-size: large;"><i> (method)</i></span>

<span class="title">14 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/parse.go.html#line-110">parse.go#L110</a>: func (t *Tree) <b>nextNonSpace</b>() (token item) {
		<a href="../../../src/text/template/parse/parse.go.html#line-122" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-122">#L122</a>: 	token := t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-173" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-173">#L173</a>: 	token := t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-182" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-182">#L182</a>: 	token := t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-299" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-299">#L299</a>: 			if t.<b>nextNonSpace</b>().typ == itemDefine {
		<a href="../../../src/text/template/parse/parse.go.html#line-360" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-360">#L360</a>: 	switch token := t.<b>nextNonSpace</b>(); token.typ {
		<a href="../../../src/text/template/parse/parse.go.html#line-385" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-385">#L385</a>: 	switch token := t.<b>nextNonSpace</b>(); token.typ {
		<a href="../../../src/text/template/parse/parse.go.html#line-425" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-425">#L425</a>: 			t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-429" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-429">#L429</a>: 			t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-449" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-449">#L449</a>: 		switch token := t.<b>nextNonSpace</b>(); token.typ {
		<a href="../../../src/text/template/parse/parse.go.html#line-565" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-565">#L565</a>: 	token := t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-591" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-591">#L591</a>: 	token := t.<b>nextNonSpace</b>()
		<a href="../../../src/text/template/parse/parse.go.html#line-594" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-594">#L594</a>: 	if t.<b>nextNonSpace</b>().typ != itemRightDelim {
		<a href="../../../src/text/template/parse/parse.go.html#line-690" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-690">#L690</a>: 	switch token := t.<b>nextNonSpace</b>(); token.typ {
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>