<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.VariableNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-387">VariableNode</a></b></span>

<span class="title">16 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-192">node.go#L192</a>: 	Decl     []*<b>VariableNode</b> // Variables in lexical order.
		<a href="../../../src/text/template/parse/node.go.html#line-196" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-196">#L196</a>: func (t *Tree) newPipeline(pos Pos, line int, vars []*<b>VariableNode</b>) *PipeNode {
		<a href="../../../src/text/template/parse/node.go.html#line-236" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-236">#L236</a>: 	vars := make([]*<b>VariableNode</b>, len(p.Decl))
		<a href="../../../src/text/template/parse/node.go.html#line-238" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-238">#L238</a>: 		vars[i] = d.Copy().(*<b>VariableNode</b>)
		<a href="../../../src/text/template/parse/node.go.html#line-387" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-387">#L387</a>: type <b>VariableNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-394" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-394">#L394</a>: func (t *Tree) newVariable(pos Pos, ident string) *<b>VariableNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-395" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-395">#L395</a>: 	return &amp;<b>VariableNode</b>{tr: t, NodeType: NodeVariable, Pos: pos, Ident: strings.Split(ident, ".")}
		<a href="../../../src/text/template/parse/node.go.html#line-398" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-398">#L398</a>: func (v *<b>VariableNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-404" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-404">#L404</a>: func (v *<b>VariableNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-413" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-413">#L413</a>: func (v *<b>VariableNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-417" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-417">#L417</a>: func (v *<b>VariableNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/node.go.html#line-418" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-418">#L418</a>: 	return &amp;<b>VariableNode</b>{tr: v.tr, NodeType: NodeVariable, Pos: v.Pos, Ident: append([]string{}, v.Ident...)}

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-472">exec.go#L472</a>: 	case *parse.<b>VariableNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-550" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-550">#L550</a>: func (s *state) evalVariableNode(dot reflect.Value, variable *parse.<b>VariableNode</b>, args []parse.Node, final reflect.Value) reflect.Value {
		<a href="../../../src/text/template/exec.go.html#line-804" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-804">#L804</a>: 	case *parse.<b>VariableNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-922" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-922">#L922</a>: 	case *parse.<b>VariableNode</b>:
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>