<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.FieldNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-492">FieldNode</a></b></span>

<span class="title">12 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-492">node.go#L492</a>: type <b>FieldNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-499" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-499">#L499</a>: func (t *Tree) newField(pos Pos, ident string) *<b>FieldNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-500" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-500">#L500</a>: 	return &amp;<b>FieldNode</b>{tr: t, NodeType: NodeField, Pos: pos, Ident: strings.Split(ident[1:], ".")} // [1:] to drop leading period
		<a href="../../../src/text/template/parse/node.go.html#line-503" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-503">#L503</a>: func (f *<b>FieldNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-509" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-509">#L509</a>: func (f *<b>FieldNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-516" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-516">#L516</a>: func (f *<b>FieldNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-520" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-520">#L520</a>: func (f *<b>FieldNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/node.go.html#line-521" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-521">#L521</a>: 	return &amp;<b>FieldNode</b>{tr: f.tr, NodeType: NodeField, Pos: f.Pos, Ident: append([]string{}, f.Ident...)}

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-461">exec.go#L461</a>: 	case *parse.<b>FieldNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-532" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-532">#L532</a>: func (s *state) evalFieldNode(dot reflect.Value, field *parse.<b>FieldNode</b>, args []parse.Node, final reflect.Value) reflect.Value {
		<a href="../../../src/text/template/exec.go.html#line-802" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-802">#L802</a>: 	case *parse.<b>FieldNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-911" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-911">#L911</a>: 	case *parse.<b>FieldNode</b>:
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>