<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.VariableNode.Ident</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-387">VariableNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-391">Ident</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">12 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-391">node.go#L391</a>: 	<b>Ident</b> []string // Variable name and fields in lexical order.
		<a href="../../../src/text/template/parse/node.go.html#line-395" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-395">#L395</a>: 	return &amp;VariableNode{tr: t, NodeType: NodeVariable, Pos: pos, <b>Ident</b>: strings.Split(ident, ".")}
		<a href="../../../src/text/template/parse/node.go.html#line-405" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-405">#L405</a>: 	for i, id := range v.<b>Ident</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-418" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-418">#L418</a>: 	return &amp;VariableNode{tr: v.tr, NodeType: NodeVariable, Pos: v.Pos, <b>Ident</b>: append([]string{}, v.<b>Ident</b>...)}
		<a href="../../../src/text/template/parse/parse.go.html#line-748">parse.go#L748</a>: 		if varName == v.<b>Ident</b>[0] {
		<a href="../../../src/text/template/parse/parse.go.html#line-752" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-752">#L752</a>: 	t.errorf("undefined variable %q", v.<b>Ident</b>[0])

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-444">exec.go#L444</a>: 			s.setVar(variable.<b>Ident</b>[0], value)
		<a href="../../../src/text/template/exec.go.html#line-446" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-446">#L446</a>: 			s.push(variable.<b>Ident</b>[0], value)
		<a href="../../../src/text/template/exec.go.html#line-553" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-553">#L553</a>: 	value := s.varValue(variable.<b>Ident</b>[0])
		<a href="../../../src/text/template/exec.go.html#line-554" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-554">#L554</a>: 	if len(variable.<b>Ident</b>) == 1 {
		<a href="../../../src/text/template/exec.go.html#line-558" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-558">#L558</a>: 	return s.evalFieldChain(dot, value, variable, variable.<b>Ident</b>[1:], args, final)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>