<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.PipeNode.Cmds</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-186">PipeNode</a>.<a href="../../../src/text/template/parse/node.go.html#line-193">Cmds</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">26 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-193">node.go#L193</a>: 	<b>Cmds</b>     []*CommandNode  // The commands in lexical order.
		<a href="../../../src/text/template/parse/node.go.html#line-201" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-201">#L201</a>: 	p.<b>Cmds</b> = append(p.<b>Cmds</b>, command)
		<a href="../../../src/text/template/parse/node.go.html#line-220" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-220">#L220</a>: 	for i, c := range p.<b>Cmds</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-242" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-242">#L242</a>: 	for _, c := range p.<b>Cmds</b> {
		<a href="../../../src/text/template/parse/parse.go.html#line-466">parse.go#L466</a>: 	if len(pipe.<b>Cmds</b>) == 0 {
		<a href="../../../src/text/template/parse/parse.go.html#line-470" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-470">#L470</a>: 	for i, c := range pipe.<b>Cmds</b>[1:] {

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-435">exec.go#L435</a>: 	for _, cmd := range pipe.<b>Cmds</b> {

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-128">escape.go#L128</a>: 	for pos, idNode := range n.Pipe.<b>Cmds</b> {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-142" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-142">#L142</a>: 			if pos &lt; len(n.Pipe.<b>Cmds</b>)-1 ||
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-181" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-181">#L181</a>: 	pipelineLen := len(p.<b>Cmds</b>)
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-183" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-183">#L183</a>: 		lastCmd := p.<b>Cmds</b>[pipelineLen-1]
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-187" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-187">#L187</a>: 				if len(p.<b>Cmds</b>) == 1 && len(lastCmd.Args) > 1 {
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-194" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-194">#L194</a>: 					p.<b>Cmds</b> = append(p.<b>Cmds</b>, newIdentCmd(esc, p.Position()))
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-216" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-216">#L216</a>: 	copy(newCmds, p.<b>Cmds</b>)
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-220" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-220">#L220</a>: 	p.<b>Cmds</b> = newCmds

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-153">escape.go#L153</a>: 	for pos, idNode := range n.Pipe.<b>Cmds</b> {
		<a href="../../../src/html/template/escape.go.html#line-167" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-167">#L167</a>: 			if pos &lt; len(n.Pipe.<b>Cmds</b>)-1 ||
		<a href="../../../src/html/template/escape.go.html#line-253" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-253">#L253</a>: 	pipelineLen := len(p.<b>Cmds</b>)
		<a href="../../../src/html/template/escape.go.html#line-255" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-255">#L255</a>: 		lastCmd := p.<b>Cmds</b>[pipelineLen-1]
		<a href="../../../src/html/template/escape.go.html#line-259" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-259">#L259</a>: 				if len(p.<b>Cmds</b>) == 1 && len(lastCmd.Args) > 1 {
		<a href="../../../src/html/template/escape.go.html#line-266" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-266">#L266</a>: 					p.<b>Cmds</b> = appendCmd(p.<b>Cmds</b>, newIdentCmd(esc, p.Position()))
		<a href="../../../src/html/template/escape.go.html#line-290" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-290">#L290</a>: 		cmd := p.<b>Cmds</b>[i]
		<a href="../../../src/html/template/escape.go.html#line-305" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-305">#L305</a>: 	p.<b>Cmds</b> = newCmds
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>