<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.item.val</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;"><b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/lex.go.html#line-15">item</a>.<a href="../../../src/text/template/parse/lex.go.html#line-18">val</a></b></span><span style="font-size: large;"><i> (field)</i></span>

<span class="title">26 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/lex.go.html#line-18">lex.go#L18</a>: 	<b>val</b>  string   // The value of this item.
		<a href="../../../src/text/template/parse/lex.go.html#line-27" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-27">#L27</a>: 		return i.<b>val</b>
		<a href="../../../src/text/template/parse/lex.go.html#line-29" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-29">#L29</a>: 		return fmt.Sprintf("&lt;%s&gt;", i.<b>val</b>)
		<a href="../../../src/text/template/parse/lex.go.html#line-30" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-30">#L30</a>: 	case len(i.<b>val</b>) > 10:
		<a href="../../../src/text/template/parse/lex.go.html#line-31" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-31">#L31</a>: 		return fmt.Sprintf("%.10q...", i.<b>val</b>)
		<a href="../../../src/text/template/parse/lex.go.html#line-33" class="path-duplicate">lex.go</a><a href="../../../src/text/template/parse/lex.go.html#line-33">#L33</a>: 	return fmt.Sprintf("%q", i.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-195">parse.go#L195</a>: 			if strings.HasSuffix(token.<b>val</b>, " action") {
		<a href="../../../src/text/template/parse/parse.go.html#line-326" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-326">#L326</a>: 	t.Name, err = strconv.Unquote(name.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-362" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-362">#L362</a>: 		return t.newText(token.pos, token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-368" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-368">#L368</a>: 		return t.newComment(token.pos, token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-426" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-426">#L426</a>: 			pipe.Decl = append(pipe.Decl, t.newVariable(v.pos, v.<b>val</b>))
		<a href="../../../src/text/template/parse/parse.go.html#line-427" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-427">#L427</a>: 			t.vars = append(t.vars, v.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-428" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-428">#L428</a>: 		case next.typ == itemChar &amp;&amp; next.<b>val</b> == ",":
		<a href="../../../src/text/template/parse/parse.go.html#line-430" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-430">#L430</a>: 			pipe.Decl = append(pipe.Decl, t.newVariable(v.pos, v.<b>val</b>))
		<a href="../../../src/text/template/parse/parse.go.html#line-431" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-431">#L431</a>: 			t.vars = append(t.vars, v.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-605" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-605">#L605</a>: 		s, err := strconv.Unquote(token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-659" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-659">#L659</a>: 			chain.Add(t.next().<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-692" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-692">#L692</a>: 		if !t.hasFunction(token.<b>val</b>) {
		<a href="../../../src/text/template/parse/parse.go.html#line-693" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-693">#L693</a>: 			t.errorf("function %q not defined", token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-695" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-695">#L695</a>: 		return NewIdentifier(token.<b>val</b>).SetTree(t).SetPos(token.pos)
		<a href="../../../src/text/template/parse/parse.go.html#line-701" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-701">#L701</a>: 		return t.useVar(token.pos, token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-703" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-703">#L703</a>: 		return t.newField(token.pos, token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-705" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-705">#L705</a>: 		return t.newBool(token.pos, token.<b>val</b> == "true")
		<a href="../../../src/text/template/parse/parse.go.html#line-707" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-707">#L707</a>: 		number, err := t.newNumber(token.pos, token.<b>val</b>, token.typ)
		<a href="../../../src/text/template/parse/parse.go.html#line-715" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-715">#L715</a>: 		s, err := strconv.Unquote(token.<b>val</b>)
		<a href="../../../src/text/template/parse/parse.go.html#line-719" class="path-duplicate">parse.go</a><a href="../../../src/text/template/parse/parse.go.html#line-719">#L719</a>: 		return t.newString(token.pos, token.<b>val</b>, s)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>