<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.IdentifierNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-341">IdentifierNode</a></b></span>

<span class="title">22 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-341">node.go#L341</a>: type <b>IdentifierNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-349" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-349">#L349</a>: func NewIdentifier(ident string) *<b>IdentifierNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-350" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-350">#L350</a>: 	return &amp;<b>IdentifierNode</b>{NodeType: NodeIdentifier, Ident: ident}
		<a href="../../../src/text/template/parse/node.go.html#line-356" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-356">#L356</a>: func (i *<b>IdentifierNode</b>) SetPos(pos Pos) *<b>IdentifierNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-364" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-364">#L364</a>: func (i *<b>IdentifierNode</b>) SetTree(t *Tree) *<b>IdentifierNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-369" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-369">#L369</a>: func (i *<b>IdentifierNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-373" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-373">#L373</a>: func (i *<b>IdentifierNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-377" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-377">#L377</a>: func (i *<b>IdentifierNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-381" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-381">#L381</a>: func (i *<b>IdentifierNode</b>) Copy() Node {

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-465">exec.go#L465</a>: 	case *parse.<b>IdentifierNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-573" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-573">#L573</a>: func (s *state) evalFunction(dot reflect.Value, node *parse.<b>IdentifierNode</b>, cmd parse.Node, args []parse.Node, final reflect.Value) reflect.Value {
		<a href="../../../src/text/template/exec.go.html#line-808" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-808">#L808</a>: 	case *parse.<b>IdentifierNode</b>:
		<a href="../../../src/text/template/exec.go.html#line-913" class="path-duplicate">exec.go</a><a href="../../../src/text/template/exec.go.html#line-913">#L913</a>: 	case *parse.<b>IdentifierNode</b>:

	<a href="../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-129">escape.go#L129</a>: 		node, ok := idNode.Args[0].(*parse.<b>IdentifierNode</b>)
		<a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-184" class="path-duplicate">escape.go</a><a href="../../../src/github.com/google/safehtml/template/escape.go.html#line-184">#L184</a>: 		if idNode, ok := lastCmd.Args[0].(*parse.<b>IdentifierNode</b>); ok {

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-154">escape.go#L154</a>: 		node, ok := idNode.Args[0].(*parse.<b>IdentifierNode</b>)
		<a href="../../../src/html/template/escape.go.html#line-256" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-256">#L256</a>: 		if idNode, ok := lastCmd.Args[0].(*parse.<b>IdentifierNode</b>); ok {
		<a href="../../../src/html/template/escape.go.html#line-292" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-292">#L292</a>: 		if idNode, ok := cmd.Args[0].(*parse.<b>IdentifierNode</b>); ok {
		<a href="../../../src/html/template/escape.go.html#line-376" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-376">#L376</a>: 		last, okLast := cmds[n-1].Args[0].(*parse.<b>IdentifierNode</b>)
		<a href="../../../src/html/template/escape.go.html#line-377" class="path-duplicate">escape.go</a><a href="../../../src/html/template/escape.go.html#line-377">#L377</a>: 		next, okNext := cmd.Args[0].(*parse.<b>IdentifierNode</b>)
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>