<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>References: text/template/parse.CommentNode</title>
<link href="../../../css/light-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre><code><span style="font-size:x-large;">type <b><a href="../../../pkg/text/template/parse.html">text/template/parse</a>.<a href="../../../src/text/template/parse/node.go.html#line-154">CommentNode</a></b></span>

<span class="title">11 uses</span>

	text/template/parse (current package)
		<a href="../../../src/text/template/parse/node.go.html#line-154">node.go#L154</a>: type <b>CommentNode</b> struct {
		<a href="../../../src/text/template/parse/node.go.html#line-161" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-161">#L161</a>: func (t *Tree) newComment(pos Pos, text string) *<b>CommentNode</b> {
		<a href="../../../src/text/template/parse/node.go.html#line-162" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-162">#L162</a>: 	return &amp;<b>CommentNode</b>{tr: t, NodeType: NodeComment, Pos: pos, Text: text}
		<a href="../../../src/text/template/parse/node.go.html#line-165" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-165">#L165</a>: func (c *<b>CommentNode</b>) String() string {
		<a href="../../../src/text/template/parse/node.go.html#line-171" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-171">#L171</a>: func (c *<b>CommentNode</b>) writeTo(sb *strings.Builder) {
		<a href="../../../src/text/template/parse/node.go.html#line-177" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-177">#L177</a>: func (c *<b>CommentNode</b>) tree() *Tree {
		<a href="../../../src/text/template/parse/node.go.html#line-181" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-181">#L181</a>: func (c *<b>CommentNode</b>) Copy() Node {
		<a href="../../../src/text/template/parse/node.go.html#line-182" class="path-duplicate">node.go</a><a href="../../../src/text/template/parse/node.go.html#line-182">#L182</a>: 	return &amp;<b>CommentNode</b>{tr: c.tr, NodeType: NodeComment, Pos: c.Pos, Text: c.Text}
		<a href="../../../src/text/template/parse/parse.go.html#line-270">parse.go#L270</a>: 	case *<b>CommentNode</b>:

	<a href="../../../pkg/text/template.html">text/template</a>
		<a href="../../../src/text/template/exec.go.html#line-259">exec.go#L259</a>: 	case *parse.<b>CommentNode</b>:

	<a href="../../../pkg/html/template.html">html/template</a>
		<a href="../../../src/html/template/escape.go.html#line-127">escape.go#L127</a>: 	case *parse.<b>CommentNode</b>:
</code></pre><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>