<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: context.go in package github.com/google/safehtml/template</title>
<link href="../../../../../css/lightLiterate-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	context.go

<span class="title">Belonging Package</span>
	<a href="../../../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
</code></pre>
<style>input[type=radio] {display: none;}
input[id=r0]:checked ~pre label[for=r0],
input[id=r1]:checked ~pre label[for=r1],
input[id=r2]:checked ~pre label[for=r2],
input[id=r3]:checked ~pre label[for=r3],
input[id=r4]:checked ~pre label[for=r4],
input[id=r5]:checked ~pre label[for=r5],
input[id=r6]:checked ~pre label[for=r6],
input[id=r7]:checked ~pre label[for=r7],
input[id=r8]:checked ~pre label[for=r8],
input[id=r9]:checked ~pre label[for=r9],
input[id=r10]:checked ~pre label[for=r10],
input[id=r11]:checked ~pre label[for=r11],
input[id=r12]:checked ~pre label[for=r12],
input[id=r13]:checked ~pre label[for=r13],
input[id=r14]:checked ~pre label[for=r14],
input[id=r15]:checked ~pre label[for=r15],
input[id=r16]:checked ~pre label[for=r16]
{background: #226; color: #ff8;}
input[id=i0]:checked ~pre .i0
{background: brown; color: #eed;}
</style><input id="r0" type="radio" name="g"/>
<input id="r1" type="radio" name="g"/>
<input id="r2" type="radio" name="g"/>
<input id="r3" type="radio" name="g"/>
<input id="r4" type="radio" name="g"/>
<input id="r5" type="radio" name="g"/>
<input id="r6" type="radio" name="g"/>
<input id="r7" type="radio" name="g"/>
<input id="r8" type="radio" name="g"/>
<input id="r9" type="radio" name="g"/>
<input id="r10" type="radio" name="g"/>
<input id="r11" type="radio" name="g"/>
<input id="r12" type="radio" name="g"/>
<input id="r13" type="radio" name="g"/>
<input id="r14" type="radio" name="g"/>
<input id="r15" type="radio" name="g"/>
<input id="r16" type="radio" name="g"/>
<input id="i0" type="radio" name="i"/>
<div id="container"><div class="section">
<div class="doc">
<span class="comment"> Copyright 2017 The Go Authors. All rights reserved.</span><span class="comment"> Use of this source code is governed by a BSD-style</span><span class="comment"> license that can be found in the LICENSE file.</span></div>
<div class="code"><pre><code>
<span class="keyword">package</span> template

<span class="keyword">import</span> (
	<label for="i0"><span class="lit-string i0">"strings"</span></label>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> context describes the state an HTML parser must be in when it reaches the</span><span class="comment"> portion of HTML produced by evaluating a particular template node.</span><span class="comment"></span><span class="comment"> The zero value of type Context is the start context for a template that</span><span class="comment"> produces an HTML fragment as defined at</span><span class="comment"> http://www.w3.org/TR/html5/syntax.html#the-end</span><span class="comment"> where the context element is null.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-context" class="ident">context</a> <span class="keyword">struct</span> {
	<a href="../../../../../use/github.com/google/safehtml/template..context*ea779.state*4ba69.html" class="ident">state</a>   <a href="#line-61" class="ident">state</a>
	<a href="../../../../../use/github.com/google/safehtml/template..context*ea779.delim*c5e9a.html" class="ident">delim</a>   <a href="#line-112" class="ident">delim</a>
	<a href="../../../../../use/github.com/google/safehtml/template..context*ea779.element*44592.html" class="ident">element</a> <a href="#line-128" class="ident">element</a>
	<a href="../../../../../use/github.com/google/safehtml/template..context*ea779.attr*21489.html" class="ident">attr</a>    <a href="#line-153" class="ident">attr</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> scriptType is the lowercase value of the "type" attribute inside the current "script"</span><span class="comment">	 element (see https://dev.w3.org/html5/spec-preview/the-script-element.html#attr-script-type).</span><span class="comment">	 This field will be empty if the parser is currently not in a script element,</span><span class="comment">	 the type attribute has not already been parsed in the current element, or if the</span><span class="comment">	 value of the type attribute cannot be determined at parse time.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> linkRel is the value of the "rel" attribute inside the current "link"</span><span class="comment">	 element (see https://html.spec.whatwg.org/multipage/semantics.html#attr-link-rel).</span><span class="comment">	 This value has been normalized to lowercase with exactly one space between tokens</span><span class="comment">	 and exactly one space at start and end, so that a lookup of any token foo can</span><span class="comment">	 be performed by searching for the substring " foo ".</span><span class="comment">	 This field will be empty if the parser is currently not in a link element,</span><span class="comment">	 the rel attribute has not already been parsed in the current element, or if the</span><span class="comment">	 value of the rel attribute cannot be determined at parse time.</span></div>
<div class="code"><pre><code>	<a href="../../../../../use/github.com/google/safehtml/template..context*ea779.linkRel*aa21a.html" class="ident">linkRel</a> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eq returns whether Context c is equal to Context d.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r0" class="ident">c</label> <a href="#line-18" class="ident">context</a>) <label for="r1" class="ident"><a href="../../../../../use/github.com/google/safehtml/template..context*ea779.eq*7d601.html" class="ident">eq</a></label>(<label for="r2" class="ident">d</label> <a href="#line-18" class="ident">context</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">return</span> <label for="r0" class="ident">c</label>.<a href="#line-19" class="ident">state</a> == <label for="r2" class="ident">d</label>.<a href="#line-19" class="ident">state</a> &amp;&amp;
		<label for="r0" class="ident">c</label>.<a href="#line-20" class="ident">delim</a> == <label for="r2" class="ident">d</label>.<a href="#line-20" class="ident">delim</a> &amp;&amp;
		<label for="r0" class="ident">c</label>.<a href="#line-21" class="ident">element</a>.<a href="#line-142" class="ident">eq</a>(<label for="r2" class="ident">d</label>.<a href="#line-21" class="ident">element</a>) &amp;&amp;
		<label for="r0" class="ident">c</label>.<a href="#line-22" class="ident">attr</a>.<a href="#line-176" class="ident">eq</a>(<label for="r2" class="ident">d</label>.<a href="#line-22" class="ident">attr</a>) &amp;&amp;
		<label for="r0" class="ident">c</label>.<a href="#line-23" class="ident">err</a> == <label for="r2" class="ident">d</label>.<a href="#line-23" class="ident">err</a> &amp;&amp;
		<label for="r0" class="ident">c</label>.<a href="#line-29" class="ident">scriptType</a> == <label for="r2" class="ident">d</label>.<a href="#line-29" class="ident">scriptType</a> &amp;&amp;
		<label for="r0" class="ident">c</label>.<a href="#line-38" class="ident">linkRel</a> == <label for="r2" class="ident">d</label>.<a href="#line-38" class="ident">linkRel</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> state describes a high-level HTML parser state.</span><span class="comment"></span><span class="comment"> It bounds the top of the element stack, and by extension the HTML insertion</span><span class="comment"> mode, but also contains state that does not correspond to anything in the</span><span class="comment"> HTML5 parsing algorithm because a single token production in the HTML</span><span class="comment"> grammar may contain embedded actions in a template. For instance, the quoted</span><span class="comment"> HTML attribute produced by</span><span class="comment">     &lt;div title="Hello {{.World}}"&gt;</span><span class="comment"> is a single token in HTML's grammar but in a template spans several nodes.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-state" class="ident">state</a> <a href="../../../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type state</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateText is parsed character data. An HTML parser is in</span><span class="comment">	 this state when its parse position is outside an HTML tag,</span><span class="comment">	 directive, comment, and special element body.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateSpecialElementBody occurs inside a specal HTML element body.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateTag occurs before an HTML attribute or the end of a tag.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateAttrName occurs inside an attribute name.</span><span class="comment">	 It occurs between the ^'s in ` ^name^ = value`.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateAfterName occurs after an attr name has ended but before any</span><span class="comment">	 equals sign. It occurs between the ^'s in ` name^ ^= value`.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateBeforeValue occurs after the equals sign but before the value.</span><span class="comment">	 It occurs between the ^'s in ` name =^ ^value`.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateHTMLCmt occurs inside an &lt;!-- HTML comment --&gt;.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateAttr occurs inside an HTML attribute whose content is text.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> stateError is an infectious error state outside any valid</span><span class="comment">	 HTML/CSS/JS construct.</span></div>
<div class="code"><pre><code>	<a href="../../../../../pkg/github.com/google/safehtml/template.html#name-stateError" class="ident">stateError</a>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> isComment reports whether a state contains content meant for template</span><span class="comment"> authors &amp; maintainers, not for end-users or machines.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r3" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-isComment" class="ident">isComment</a></label>(<label for="r4" class="ident">s</label> <a href="#line-61" class="ident">state</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">switch</span> <label for="r4" class="ident">s</label> {
	<span class="keyword">case</span> <a href="#line-84" class="ident">stateHTMLCmt</a>:
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>
	}
	<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-false" class="ident">false</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> isInTag reports whether s occurs solely inside an HTML tag.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r5" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-isInTag" class="ident">isInTag</a></label>(<label for="r6" class="ident">s</label> <a href="#line-61" class="ident">state</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">switch</span> <label for="r6" class="ident">s</label> {
	<span class="keyword">case</span> <a href="#line-73" class="ident">stateTag</a>, <a href="#line-76" class="ident">stateAttrName</a>, <a href="#line-79" class="ident">stateAfterName</a>, <a href="#line-82" class="ident">stateBeforeValue</a>, <a href="#line-86" class="ident">stateAttr</a>:
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>
	}
	<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-false" class="ident">false</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delim is the delimiter that will end the current HTML attribute.</span></div>
<div class="code"><pre><code><span class="keyword">type</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-delim" class="ident">delim</a> <a href="../../../../../pkg/builtin.html#name-uint8" class="ident">uint8</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment">go:generate stringer -type delim</span></div>
<div class="code"><pre><code>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimNone occurs outside any attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimDoubleQuote occurs when a double quote (") closes the attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimSingleQuote occurs when a single quote (') closes the attribute.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> delimSpaceOrTagEnd occurs when a space or right angle bracket (&gt;)</span><span class="comment">	 closes the attribute.</span></div>
<div class="code"><pre><code>	<a href="../../../../../pkg/github.com/google/safehtml/template.html#name-delimSpaceOrTagEnd" class="ident">delimSpaceOrTagEnd</a>
)

</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> name is the lowercase name of the element. If context joining has occurred, name</span><span class="comment">	 will be arbitrarily assigned the element name from one of the joined contexts.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> names contains all possible names the element could assume because of context joining.</span><span class="comment">	 For example, after joining the contexts in the "if" and "else" branches of</span><span class="comment">	     {{if .C}}&lt;img{{else}}&lt;audio{{end}} src="/some/path"&gt;`,</span><span class="comment">	 names will contain "img" and "audio".</span><span class="comment">	 names can also contain empty strings, which represent joined contexts with no element name.</span><span class="comment">	 names will be empty if no context joining occurred.</span></div>
<div class="code"><pre><code>	<a href="../../../../../use/github.com/google/safehtml/template..element*44592.names*aeb24.html" class="ident">names</a> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eq reports whether a and b have the same name. All other fields are ignored.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r7" class="ident">e</label> <a href="#line-128" class="ident">element</a>) <label for="r8" class="ident"><a href="../../../../../use/github.com/google/safehtml/template..element*44592.eq*7d601.html" class="ident">eq</a></label>(<label for="r9" class="ident">d</label> <a href="#line-128" class="ident">element</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">return</span> <label for="r7" class="ident">e</label>.<a href="#line-131" class="ident">name</a> == <label for="r9" class="ident">d</label>.<a href="#line-131" class="ident">name</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> String returns the string representation of the element.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r10" class="ident">e</label> <a href="#line-128" class="ident">element</a>) <label for="r11" class="ident"><a href="../../../../../use/github.com/google/safehtml/template..element*44592.String.html" class="ident">String</a></label>() <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">return</span> <span class="lit-string">"element"</span> + <a href="../../../../../pkg/strings.html" class="ident i0">strings</a>.<a href="../../../../strings/strings.go.html#line-710" class="ident">Title</a>(<label for="r10" class="ident">e</label>.<a href="#line-131" class="ident">name</a>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> attr represents the attribute that the parser is in, that is,</span><span class="comment"> starting from stateAttrName until stateTag/stateText (exclusive).</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> name is the lowercase name of the attribute. If context joining has occurred, name</span><span class="comment">	 will be arbitrarily assigned the attribute name from one of the joined contexts.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> value is the value of the attribute. If context joining has occurred, value</span><span class="comment">	 will be arbitrarily assigned the attribute value from one of the joined contexts.</span><span class="comment">	 If there are multiple actions in the attribute value, value will contain the</span><span class="comment">	 concatenation of all values seen so far. For example, in</span><span class="comment">	    &lt;a name="foo{{.X}}bar{{.Y}}"&gt;</span><span class="comment">	 value is "foo" at "{{.X}}" and "foobar" at "{{.Y}}".</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ambiguousValue indicates whether value contains an ambiguous value due to context-joining.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> names contains all possible names the attribute could assume because of context joining.</span><span class="comment">	 For example, after joining the contexts in the "if" and "else" branches of</span><span class="comment">	     &lt;a {{if .C}}title{{else}}name{{end}}="foo"&gt;</span><span class="comment">	 names will contain "title" and "name".</span><span class="comment">	 names can also contain empty strings, which represent joined contexts with no attribute name.</span><span class="comment">	 names will be empty if no context joining occurred.</span></div>
<div class="code"><pre><code>	<a href="../../../../../use/github.com/google/safehtml/template..attr*21489.names*aeb24.html" class="ident">names</a> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eq reports whether a and b have the same name. All other fields are ignored.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r12" class="ident">a</label> <a href="#line-153" class="ident">attr</a>) <label for="r13" class="ident"><a href="../../../../../use/github.com/google/safehtml/template..attr*21489.eq*7d601.html" class="ident">eq</a></label>(<label for="r14" class="ident">b</label> <a href="#line-153" class="ident">attr</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">return</span> <label for="r12" class="ident">a</label>.<a href="#line-156" class="ident">name</a> == <label for="r14" class="ident">b</label>.<a href="#line-156" class="ident">name</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> String returns the string representation of the attr.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r15" class="ident">a</label> <a href="#line-153" class="ident">attr</a>) <label for="r16" class="ident"><a href="../../../../../use/github.com/google/safehtml/template..attr*21489.String.html" class="ident">String</a></label>() <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">return</span> <span class="lit-string">"attr"</span> + <a href="../../../../../pkg/strings.html" class="ident i0">strings</a>.<a href="../../../../strings/strings.go.html#line-710" class="ident">Title</a>(<label for="r15" class="ident">a</label>.<a href="#line-156" class="ident">name</a>)
</code></pre></div></div>

</div><pre id="footer">
<table><tr><td><img src="../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>