<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: sanitize.go in package github.com/google/safehtml/template</title>
<link href="../../../../../css/lightLiterate-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	sanitize.go

<span class="title">Belonging Package</span>
	<a href="../../../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
</code></pre>
<style>input[type=radio] {display: none;}
input[id=r0]:checked ~pre label[for=r0],
input[id=r1]:checked ~pre label[for=r1],
input[id=r2]:checked ~pre label[for=r2],
input[id=r3]:checked ~pre label[for=r3],
input[id=r4]:checked ~pre label[for=r4],
input[id=r5]:checked ~pre label[for=r5],
input[id=r6]:checked ~pre label[for=r6],
input[id=r7]:checked ~pre label[for=r7],
input[id=r8]:checked ~pre label[for=r8],
input[id=r9]:checked ~pre label[for=r9],
input[id=r10]:checked ~pre label[for=r10],
input[id=r11]:checked ~pre label[for=r11],
input[id=r12]:checked ~pre label[for=r12],
input[id=r13]:checked ~pre label[for=r13],
input[id=r14]:checked ~pre label[for=r14],
input[id=r15]:checked ~pre label[for=r15],
input[id=r16]:checked ~pre label[for=r16],
input[id=r17]:checked ~pre label[for=r17],
input[id=r18]:checked ~pre label[for=r18],
input[id=r19]:checked ~pre label[for=r19],
input[id=r20]:checked ~pre label[for=r20],
input[id=r21]:checked ~pre label[for=r21],
input[id=r22]:checked ~pre label[for=r22],
input[id=r23]:checked ~pre label[for=r23],
input[id=r24]:checked ~pre label[for=r24],
input[id=r25]:checked ~pre label[for=r25],
input[id=r26]:checked ~pre label[for=r26],
input[id=r27]:checked ~pre label[for=r27],
input[id=r28]:checked ~pre label[for=r28],
input[id=r29]:checked ~pre label[for=r29],
input[id=r30]:checked ~pre label[for=r30],
input[id=r31]:checked ~pre label[for=r31],
input[id=r32]:checked ~pre label[for=r32],
input[id=r33]:checked ~pre label[for=r33],
input[id=r34]:checked ~pre label[for=r34],
input[id=r35]:checked ~pre label[for=r35],
input[id=r36]:checked ~pre label[for=r36],
input[id=r37]:checked ~pre label[for=r37],
input[id=r38]:checked ~pre label[for=r38],
input[id=r39]:checked ~pre label[for=r39],
input[id=r40]:checked ~pre label[for=r40],
input[id=r41]:checked ~pre label[for=r41],
input[id=r42]:checked ~pre label[for=r42],
input[id=r43]:checked ~pre label[for=r43],
input[id=r44]:checked ~pre label[for=r44],
input[id=r45]:checked ~pre label[for=r45],
input[id=r46]:checked ~pre label[for=r46],
input[id=r47]:checked ~pre label[for=r47],
input[id=r48]:checked ~pre label[for=r48],
input[id=r49]:checked ~pre label[for=r49],
input[id=r50]:checked ~pre label[for=r50],
input[id=r51]:checked ~pre label[for=r51],
input[id=r52]:checked ~pre label[for=r52],
input[id=r53]:checked ~pre label[for=r53],
input[id=r54]:checked ~pre label[for=r54],
input[id=r55]:checked ~pre label[for=r55],
input[id=r56]:checked ~pre label[for=r56],
input[id=r57]:checked ~pre label[for=r57],
input[id=r58]:checked ~pre label[for=r58],
input[id=r59]:checked ~pre label[for=r59],
input[id=r60]:checked ~pre label[for=r60],
input[id=r61]:checked ~pre label[for=r61],
input[id=r62]:checked ~pre label[for=r62]
{background: #226; color: #ff8;}
input[id=i0]:checked ~pre .i0,
input[id=i1]:checked ~pre .i1,
input[id=i2]:checked ~pre .i2
{background: brown; color: #eed;}
</style><input id="r0" type="radio" name="g"/>
<input id="r1" type="radio" name="g"/>
<input id="r2" type="radio" name="g"/>
<input id="r3" type="radio" name="g"/>
<input id="r4" type="radio" name="g"/>
<input id="r5" type="radio" name="g"/>
<input id="r6" type="radio" name="g"/>
<input id="r7" type="radio" name="g"/>
<input id="r8" type="radio" name="g"/>
<input id="r9" type="radio" name="g"/>
<input id="r10" type="radio" name="g"/>
<input id="r11" type="radio" name="g"/>
<input id="r12" type="radio" name="g"/>
<input id="r13" type="radio" name="g"/>
<input id="r14" type="radio" name="g"/>
<input id="r15" type="radio" name="g"/>
<input id="r16" type="radio" name="g"/>
<input id="r17" type="radio" name="g"/>
<input id="r18" type="radio" name="g"/>
<input id="r19" type="radio" name="g"/>
<input id="r20" type="radio" name="g"/>
<input id="r21" type="radio" name="g"/>
<input id="r22" type="radio" name="g"/>
<input id="r23" type="radio" name="g"/>
<input id="r24" type="radio" name="g"/>
<input id="r25" type="radio" name="g"/>
<input id="r26" type="radio" name="g"/>
<input id="r27" type="radio" name="g"/>
<input id="r28" type="radio" name="g"/>
<input id="r29" type="radio" name="g"/>
<input id="r30" type="radio" name="g"/>
<input id="r31" type="radio" name="g"/>
<input id="r32" type="radio" name="g"/>
<input id="r33" type="radio" name="g"/>
<input id="r34" type="radio" name="g"/>
<input id="r35" type="radio" name="g"/>
<input id="r36" type="radio" name="g"/>
<input id="r37" type="radio" name="g"/>
<input id="r38" type="radio" name="g"/>
<input id="r39" type="radio" name="g"/>
<input id="r40" type="radio" name="g"/>
<input id="r41" type="radio" name="g"/>
<input id="r42" type="radio" name="g"/>
<input id="r43" type="radio" name="g"/>
<input id="r44" type="radio" name="g"/>
<input id="r45" type="radio" name="g"/>
<input id="r46" type="radio" name="g"/>
<input id="r47" type="radio" name="g"/>
<input id="r48" type="radio" name="g"/>
<input id="r49" type="radio" name="g"/>
<input id="r50" type="radio" name="g"/>
<input id="r51" type="radio" name="g"/>
<input id="r52" type="radio" name="g"/>
<input id="r53" type="radio" name="g"/>
<input id="r54" type="radio" name="g"/>
<input id="r55" type="radio" name="g"/>
<input id="r56" type="radio" name="g"/>
<input id="r57" type="radio" name="g"/>
<input id="r58" type="radio" name="g"/>
<input id="r59" type="radio" name="g"/>
<input id="r60" type="radio" name="g"/>
<input id="r61" type="radio" name="g"/>
<input id="r62" type="radio" name="g"/>
<input id="i0" type="radio" name="i"/>
<input id="i1" type="radio" name="i"/>
<input id="i2" type="radio" name="i"/>
<div id="container"><div class="section">
<div class="doc">
<span class="comment"> Copyright 2011 The Go Authors. All rights reserved.</span><span class="comment"> Use of this source code is governed by a BSD-style</span><span class="comment"> license that can be found in the LICENSE file.</span></div>
<div class="code"><pre><code>
<span class="keyword">package</span> template

<span class="keyword">import</span> (
	<label for="i0"><span class="lit-string i0">"fmt"</span></label>
	<label for="i1"><span class="lit-string i1">"regexp"</span></label>
	<label for="i2"><span class="lit-string i2">"strings"</span></label>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> sanitizerForContext returns an ordered list of function names that will be called to</span><span class="comment"> sanitize data values found in the HTML context defined by c.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r0" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-sanitizerForContext" class="ident">sanitizerForContext</a></label>(<label for="r1" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>) ([]<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>, <a href="../../../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<span class="keyword">switch</span> <label for="r1" class="ident">c</label>.<a href="context.go.html#line-19" class="ident">state</a> {
	<span class="keyword">case</span> <a href="context.go.html#line-73" class="ident">stateTag</a>, <a href="context.go.html#line-76" class="ident">stateAttrName</a>, <a href="context.go.html#line-79" class="ident">stateAfterName</a>:
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"actions must not affect element or attribute names"</span>)
	<span class="keyword">case</span> <a href="context.go.html#line-84" class="ident">stateHTMLCmt</a>:
		<span class="keyword">return</span> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>{<a href="sanitizers.go.html#line-121" class="ident">sanitizeHTMLCommentFuncName</a>}, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
	}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Not in an HTML element.</span></div>
<div class="code"><pre><code>		<span class="keyword">return</span> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>{<a href="sanitizers.go.html#line-124" class="ident">sanitizeHTMLFuncName</a>}, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
	}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> We are in an attribute value context.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> TODO: consider disallowing single-quoted or unquoted attribute values completely, even in hardcoded template text.</span></div>
<div class="code"><pre><code>			<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"unquoted attribute values disallowed"</span>)
		}
		<span class="keyword">return</span> <a href="#line-51" class="ident">sanitizersForAttributeValue</a>(<label for="r1" class="ident">c</label>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Otherwise, we are in an element content context.</span></div>
<div class="code"><pre><code>	<label for="r2" class="ident">elementContentSanitizer</label>, <label for="r3" class="ident">err</label> := <a href="#line-202" class="ident">sanitizerForElementContent</a>(<label for="r1" class="ident">c</label>)
	<span class="keyword">return</span> <a href="#line-40" class="ident">appendIfNotEmpty</a>([]<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>{}, <label for="r2" class="ident">elementContentSanitizer</label>), <label for="r3" class="ident">err</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> appendIfNotEmpty appends the given strings that are non-empty to the given slice.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r4" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-appendIfNotEmpty" class="ident">appendIfNotEmpty</a></label>(<label for="r5" class="ident">slice</label> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>, <label for="r6" class="ident">strings</label> ...<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>) []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">for</span> <label for="r7" class="ident">_</label>, <label for="r8" class="ident">s</label> := <span class="keyword">range</span> <label for="r6" class="ident">strings</label> {
		<span class="keyword">if</span> <label for="r8" class="ident">s</label> != <span class="lit-string">""</span> {
			<label for="r5" class="ident">slice</label> = <a href="../../../../../pkg/builtin.html#name-append" class="ident">append</a>(<label for="r5" class="ident">slice</label>, <label for="r8" class="ident">s</label>)
		}
	}
	<span class="keyword">return</span> <label for="r5" class="ident">slice</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> sanitizersForAttributeValue returns a list of names of functions that will be</span><span class="comment"> called in order to sanitize data values found the HTML attribtue value context c.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Ensure that all combinations of element and attribute names for this context results</span><span class="comment">	 in the same attribute value sanitization context.</span></div>
<div class="code"><pre><code>	<span class="keyword">var</span> <label for="r11" class="ident">elems</label>, <label for="r12" class="ident">attrs</label> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
	<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-138" class="ident">names</a>) == <span class="lit-number">0</span> {
		<label for="r11" class="ident">elems</label> = []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>{<label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>}
	} <span class="keyword">else</span> {
		<label for="r11" class="ident">elems</label> = <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-138" class="ident">names</a>
	}
	<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-172" class="ident">names</a>) == <span class="lit-number">0</span> {
		<label for="r12" class="ident">attrs</label> = []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>{<label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-156" class="ident">name</a>}
	} <span class="keyword">else</span> {
		<label for="r12" class="ident">attrs</label> = <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-172" class="ident">names</a>
	}
	<span class="keyword">var</span> <label for="r13" class="ident">sc0</label> <a href="sanitizers.go.html#line-19" class="ident">sanitizationContext</a>
	<span class="keyword">var</span> <label for="r14" class="ident">elem0</label>, <label for="r15" class="ident">attr0</label> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
	<span class="keyword">for</span> <label for="r16" class="ident">i</label>, <label for="r17" class="ident">elem</label> := <span class="keyword">range</span> <label for="r11" class="ident">elems</label> {
		<span class="keyword">for</span> <label for="r18" class="ident">j</label>, <label for="r19" class="ident">attr</label> := <span class="keyword">range</span> <label for="r12" class="ident">attrs</label> {
			<label for="r20" class="ident">sc</label>, <label for="r21" class="ident">err</label> := <a href="#line-148" class="ident">sanitizationContextForAttrVal</a>(<label for="r17" class="ident">elem</label>, <label for="r19" class="ident">attr</label>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-38" class="ident">linkRel</a>)
			<span class="keyword">if</span> <label for="r21" class="ident">err</label> != <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
				<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r11" class="ident">elems</label>) == <span class="lit-number">1</span> &amp;&amp; <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r12" class="ident">attrs</label>) == <span class="lit-number">1</span> {
					<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r21" class="ident">err</label>
				}
				<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">`conditional branch with {element=%q, attribute=%q} results in sanitization error: %s`</span>, <label for="r17" class="ident">elem</label>, <label for="r19" class="ident">attr</label>, <label for="r21" class="ident">err</label>)
			}
			<span class="keyword">if</span> <label for="r16" class="ident">i</label> == <span class="lit-number">0</span> &amp;&amp; <label for="r18" class="ident">j</label> == <span class="lit-number">0</span> {
				<label for="r13" class="ident">sc0</label>, <label for="r14" class="ident">elem0</label>, <label for="r15" class="ident">attr0</label> = <label for="r20" class="ident">sc</label>, <label for="r17" class="ident">elem</label>, <label for="r19" class="ident">attr</label>
				<span class="keyword">continue</span>
			}
			<span class="keyword">if</span> <label for="r20" class="ident">sc</label> != <label for="r13" class="ident">sc0</label> {
				<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(
					<span class="lit-string">`conditional branches end in different attribute value sanitization contexts: {element=%q, attribute=%q} has sanitization context %q, {element=%q, attribute=%q} has sanitization context %q`</span>,
					<label for="r14" class="ident">elem0</label>, <label for="r15" class="ident">attr0</label>, <label for="r13" class="ident">sc0</label>, <label for="r17" class="ident">elem</label>, <label for="r19" class="ident">attr</label>, <label for="r20" class="ident">sc</label>)
			}
		}
	}
	<span class="keyword">if</span> <label for="r13" class="ident">sc0</label>.<a href="sanitizers.go.html#line-59" class="ident">isEnum</a>() &amp;&amp; <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-163" class="ident">value</a> != <span class="lit-string">""</span> {
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"partial substitutions are disallowed in the %q attribute value context of a %q element"</span>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-156" class="ident">name</a>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>)
	}
	<span class="keyword">if</span> <label for="r13" class="ident">sc0</label> == <a href="sanitizers.go.html#line-32" class="ident">sanitizationContextStyle</a> &amp;&amp; <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-163" class="ident">value</a> != <span class="lit-string">""</span> {
		<span class="keyword">if</span> <label for="r22" class="ident">err</label> := <a href="#line-193" class="ident">validateDoesNotEndsWithCharRefPrefix</a>(<label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-163" class="ident">value</a>); <label for="r22" class="ident">err</label> != <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
			<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"action cannot be interpolated into the %q attribute value of this %q element: %s"</span>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-156" class="ident">name</a>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>, <label for="r22" class="ident">err</label>)
		}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ret is a stack of sanitizer names that will be built in reverse.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> All attribute values must be HTML-escaped at run time by sanitizeHTML to eliminate</span><span class="comment">	 any HTML markup that can cause the HTML parser to transition out of the attribute value state.</span><span class="comment">	 These attribute values will later be HTML-unescaped by the HTML parser in the browser.</span></div>
<div class="code"><pre><code>	<label for="r23" class="ident">ret</label> = <a href="../../../../../pkg/builtin.html#name-append" class="ident">append</a>(<label for="r23" class="ident">ret</label>, <a href="sanitizers.go.html#line-124" class="ident">sanitizeHTMLFuncName</a>)
	<label for="r24" class="ident">sanitizer</label> := <label for="r13" class="ident">sc0</label>.<a href="sanitizers.go.html#line-51" class="ident">sanitizerName</a>()
	<span class="keyword">if</span> !<label for="r13" class="ident">sc0</label>.<a href="sanitizers.go.html#line-64" class="ident">isURLorTrustedResourceURL</a>() {
		<span class="keyword">return</span> <a href="#line-139" class="ident">reverse</a>(<a href="#line-40" class="ident">appendIfNotEmpty</a>(<label for="r23" class="ident">ret</label>, <label for="r24" class="ident">sanitizer</label>)), <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
	}
	<label for="r25" class="ident">urlAttrValPrefix</label> := <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-163" class="ident">value</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Attribute value prefixes in URL or TrustedResourceURL sanitization contexts</span><span class="comment">		 must sanitized and normalized.</span></div>
<div class="code"><pre><code>		<span class="keyword">return</span> <a href="#line-139" class="ident">reverse</a>(<a href="#line-40" class="ident">appendIfNotEmpty</a>(<label for="r23" class="ident">ret</label>, <a href="sanitizers.go.html#line-118" class="ident">normalizeURLFuncName</a>, <label for="r24" class="ident">sanitizer</label>)), <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Action occurs after a URL or TrustedResourceURL prefix.</span></div>
<div class="code"><pre><code>	<span class="keyword">if</span> <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-165" class="ident">ambiguousValue</a> {
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"actions must not occur after an ambiguous URL prefix in the %q attribute value context of a %q element"</span>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-156" class="ident">name</a>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>)
	}
	<label for="r26" class="ident">validator</label>, <label for="r27" class="ident">ok</label> := <a href="url.go.html#line-19" class="ident">urlPrefixValidators</a>[<label for="r13" class="ident">sc0</label>]
	<span class="keyword">if</span> !<label for="r27" class="ident">ok</label> {
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"cannot validate attribute value prefix %q in the %q sanitization context"</span>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-163" class="ident">value</a>, <label for="r13" class="ident">sc0</label>)
	}
	<span class="keyword">if</span> <label for="r28" class="ident">err</label> := <label for="r26" class="ident">validator</label>(<label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-163" class="ident">value</a>); <label for="r28" class="ident">err</label> != <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
		<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"action cannot be interpolated into the %q URL attribute value of this %q element: %s"</span>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-22" class="ident">attr</a>.<a href="context.go.html#line-156" class="ident">name</a>, <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>, <label for="r28" class="ident">err</label>)
	}
	<span class="keyword">switch</span> {
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Untrusted data that occurs anywhere after TrustedResourceURL prefix must be query-escaped</span><span class="comment">		 to prevent the injection of any new path segments or URL components. Moreover, they must</span><span class="comment">		 not contain any ".." dot-segments.</span></div>
<div class="code"><pre><code>		<label for="r23" class="ident">ret</label> = <a href="../../../../../pkg/builtin.html#name-append" class="ident">append</a>(<label for="r23" class="ident">ret</label>, <a href="sanitizers.go.html#line-117" class="ident">queryEscapeURLFuncName</a>, <a href="sanitizers.go.html#line-119" class="ident">validateTrustedResourceURLSubstitutionFuncName</a>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> For URLs, we only escape in the query or fragment part to prevent the injection of new query</span><span class="comment">		 parameters or fragments.</span></div>
<div class="code"><pre><code>		<label for="r23" class="ident">ret</label> = <a href="../../../../../pkg/builtin.html#name-append" class="ident">append</a>(<label for="r23" class="ident">ret</label>, <a href="sanitizers.go.html#line-117" class="ident">queryEscapeURLFuncName</a>)
	<span class="keyword">default</span>:
		<label for="r23" class="ident">ret</label> = <a href="../../../../../pkg/builtin.html#name-append" class="ident">append</a>(<label for="r23" class="ident">ret</label>, <a href="sanitizers.go.html#line-118" class="ident">normalizeURLFuncName</a>)
	}
	<span class="keyword">return</span> <a href="#line-139" class="ident">reverse</a>(<label for="r23" class="ident">ret</label>), <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> reverse reverses s and returns it.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r29" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-reverse" class="ident">reverse</a></label>(<label for="r30" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>) []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">for</span> <label for="r31" class="ident">head</label>, <label for="r32" class="ident">tail</label> := <span class="lit-number">0</span>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r30" class="ident">s</label>)-<span class="lit-number">1</span>; <label for="r31" class="ident">head</label> &lt; <label for="r32" class="ident">tail</label>; <label for="r31" class="ident">head</label>, <label for="r32" class="ident">tail</label> = <label for="r31" class="ident">head</label>+<span class="lit-number">1</span>, <label for="r32" class="ident">tail</label>-<span class="lit-number">1</span> {
		<label for="r30" class="ident">s</label>[<label for="r31" class="ident">head</label>], <label for="r30" class="ident">s</label>[<label for="r32" class="ident">tail</label>] = <label for="r30" class="ident">s</label>[<label for="r32" class="ident">tail</label>], <label for="r30" class="ident">s</label>[<label for="r31" class="ident">head</label>]
	}
	<span class="keyword">return</span> <label for="r30" class="ident">s</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> sanitizationContextForAttrVal returns the sanitization context for attr when it</span><span class="comment"> appears within element.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r33" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-sanitizationContextForAttrVal" class="ident">sanitizationContextForAttrVal</a></label>(<label for="r34" class="ident">element</label>, <label for="r35" class="ident">attr</label>, <label for="r36" class="ident">linkRel</label> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>) (<a href="sanitizers.go.html#line-19" class="ident">sanitizationContext</a>, <a href="../../../../../pkg/builtin.html#name-error" class="ident">error</a>) {
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Special case: safehtml.URL values are allowed in a link element's href attribute if that element's</span><span class="comment">		 rel attribute possesses certain values.</span></div>
<div class="code"><pre><code>		<label for="r37" class="ident">relVals</label> := <a href="../../../../../pkg/strings.html" class="ident i2">strings</a>.<a href="../../../../strings/strings.go.html#line-320" class="ident">Fields</a>(<label for="r36" class="ident">linkRel</label>)
		<span class="keyword">for</span> <label for="r38" class="ident">_</label>, <label for="r39" class="ident">val</label> := <span class="keyword">range</span> <label for="r37" class="ident">relVals</label> {
			<span class="keyword">if</span> <a href="sanitizers.go.html#line-141" class="ident">urlLinkRelVals</a>[<label for="r39" class="ident">val</label>] {
				<span class="keyword">return</span> <a href="sanitizers.go.html#line-36" class="ident">sanitizationContextTrustedResourceURLOrURL</a>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
			}
		}
	}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Special case: data-* attributes are specified by HTML5 to hold custom data private to</span><span class="comment">		 the page or application; they should not be interpreted by browsers. Therefore, no</span><span class="comment">		 sanitization is required for these attribute values.</span></div>
<div class="code"><pre><code>		<span class="keyword">return</span> <a href="sanitizers.go.html#line-29" class="ident">sanitizationContextNone</a>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
	}
	<span class="keyword">if</span> <label for="r40" class="ident">sc</label>, <label for="r41" class="ident">ok</label> := <a href="sanitizers.go.html#line-163" class="ident">elementSpecificAttrValSanitizationContext</a>[<label for="r35" class="ident">attr</label>][<label for="r34" class="ident">element</label>]; <label for="r41" class="ident">ok</label> {
		<span class="keyword">return</span> <label for="r40" class="ident">sc</label>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
	}
	<label for="r42" class="ident">sc</label>, <label for="r43" class="ident">isWhitelistedAttr</label> := <a href="sanitizers.go.html#line-266" class="ident">globalAttrValSanitizationContext</a>[<label for="r35" class="ident">attr</label>]
	<label for="r44" class="ident">_</label>, <label for="r45" class="ident">isWhitelistedElement</label> := <a href="sanitizers.go.html#line-371" class="ident">elementContentSanitizationContext</a>[<label for="r34" class="ident">element</label>]
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Only sanitize attributes that appear in elements whose semantics are known.</span><span class="comment">		 Thes attributes might have different semantics in other standard or custom</span><span class="comment">		 elements that our sanitization policy does not handle correctly.</span></div>
<div class="code"><pre><code>		<span class="keyword">return</span> <label for="r42" class="ident">sc</label>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
	}
	<span class="keyword">return</span> <span class="lit-number">0</span>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"actions must not occur in the %q attribute value context of a %q element"</span>, <label for="r35" class="ident">attr</label>, <label for="r34" class="ident">element</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> dataAttributeNamePattern matches valid data attribute names.</span><span class="comment"> This pattern is conservative and matches only a subset of the valid names defined in</span><span class="comment"> https://html.spec.whatwg.org/multipage/dom.html#embedding-custom-non-visible-data-with-the-data-*-attributes</span></div>
<div class="code"><pre><code><span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-dataAttributeNamePattern" class="ident">dataAttributeNamePattern</a> = <a href="../../../../../pkg/regexp.html" class="ident i1">regexp</a>.<a href="../../../../regexp/regexp.go.html#line-308" class="ident">MustCompile</a>(<span class="lit-string">`^data-[a-z_][-a-z0-9_]*$`</span>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> endsWithCharRefPrefixPattern matches strings that end in an incomplete</span><span class="comment"> HTML character reference.</span><span class="comment"></span><span class="comment"> See https://html.spec.whatwg.org/multipage/syntax.html#character-references.</span></div>
<div class="code"><pre><code><span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-endsWithCharRefPrefixPattern" class="ident">endsWithCharRefPrefixPattern</a> = <a href="../../../../../pkg/regexp.html" class="ident i1">regexp</a>.<a href="../../../../regexp/regexp.go.html#line-308" class="ident">MustCompile</a>(
	<span class="lit-string">`&amp;(?:[[:alpha:]][[:alnum:]]*|#(?:[xX][[:xdigit:]]*|[[:digit:]]*))?$`</span>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> validateDoesNotEndsWithCharRefPrefix returns an error only if the given prefix ends</span><span class="comment"> with an incomplete HTML character reference.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r46" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-validateDoesNotEndsWithCharRefPrefix" class="ident">validateDoesNotEndsWithCharRefPrefix</a></label>(<label for="r47" class="ident">prefix</label> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>) <a href="../../../../../pkg/builtin.html#name-error" class="ident">error</a> {
	<span class="keyword">if</span> <a href="#line-188" class="ident">endsWithCharRefPrefixPattern</a>.<a href="../../../../regexp/regexp.go.html#line-524" class="ident">MatchString</a>(<label for="r47" class="ident">prefix</label>) {
		<span class="keyword">return</span> <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">`prefix %q ends with an incomplete HTML character reference; did you mean "&amp;amp;" instead of "&amp;"?`</span>, <label for="r47" class="ident">prefix</label>)
	}
	<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> sanitizerForElementContent returns the name of the function that will be called</span><span class="comment"> to sanitize data values found in the HTML element content context c.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Ensure that all other possible element names for this context result in the same</span><span class="comment">	 element content sanitization context.</span></div>
<div class="code"><pre><code>	<span class="keyword">var</span> <label for="r50" class="ident">elems</label> []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
	<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r49" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-138" class="ident">names</a>) == <span class="lit-number">0</span> {
		<label for="r50" class="ident">elems</label> = []<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>{<label for="r49" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>}
	} <span class="keyword">else</span> {
		<label for="r50" class="ident">elems</label> = <label for="r49" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-138" class="ident">names</a>
	}
	<span class="keyword">var</span> <label for="r51" class="ident">sc0</label> <a href="sanitizers.go.html#line-19" class="ident">sanitizationContext</a>
	<span class="keyword">var</span> <label for="r52" class="ident">elem0</label> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
	<span class="keyword">for</span> <label for="r53" class="ident">i</label>, <label for="r54" class="ident">elem</label> := <span class="keyword">range</span> <label for="r50" class="ident">elems</label> {
		<span class="keyword">var</span> <label for="r55" class="ident">sc</label> <a href="sanitizers.go.html#line-19" class="ident">sanitizationContext</a>
		<span class="keyword">var</span> <label for="r56" class="ident">err</label> <a href="../../../../../pkg/builtin.html#name-error" class="ident">error</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Special case: an empty element name represents a context outside of a HTML element.</span></div>
<div class="code"><pre><code>			<label for="r55" class="ident">sc</label> = <a href="sanitizers.go.html#line-25" class="ident">sanitizationContextHTML</a>
		} <span class="keyword">else</span> {
			<label for="r55" class="ident">sc</label>, <label for="r56" class="ident">err</label> = <a href="#line-242" class="ident">sanitizationContextForElementContent</a>(<label for="r54" class="ident">elem</label>)
		}
		<span class="keyword">if</span> <label for="r56" class="ident">err</label> != <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
			<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r50" class="ident">elems</label>) == <span class="lit-number">1</span> {
				<span class="keyword">return</span> <span class="lit-string">""</span>, <label for="r56" class="ident">err</label>
			}
			<span class="keyword">return</span> <span class="lit-string">""</span>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">`conditional branch with element %q results in sanitization error: %s`</span>, <label for="r54" class="ident">elem</label>, <label for="r56" class="ident">err</label>)
		}
		<span class="keyword">if</span> <label for="r53" class="ident">i</label> == <span class="lit-number">0</span> {
			<label for="r51" class="ident">sc0</label>, <label for="r52" class="ident">elem0</label> = <label for="r55" class="ident">sc</label>, <label for="r54" class="ident">elem</label>
			<span class="keyword">continue</span>
		}
		<span class="keyword">if</span> <label for="r55" class="ident">sc</label> != <label for="r51" class="ident">sc0</label> {
			<span class="keyword">return</span> <span class="lit-string">""</span>,
				<a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">`conditional branches end in different element content sanitization contexts: element %q has sanitization context %q, element %q has sanitization context %q`</span>,
					<label for="r52" class="ident">elem0</label>, <label for="r51" class="ident">sc0</label>, <label for="r54" class="ident">elem</label>, <label for="r55" class="ident">sc</label>)
		}
	}
	<span class="keyword">return</span> <label for="r51" class="ident">sc0</label>.<a href="sanitizers.go.html#line-51" class="ident">sanitizerName</a>(), <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> sanitizationContextForElementContent returns the element content sanitization context for the given element.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r57" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-sanitizationContextForElementContent" class="ident">sanitizationContextForElementContent</a></label>(<label for="r58" class="ident">element</label> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>) (<a href="sanitizers.go.html#line-19" class="ident">sanitizationContext</a>, <a href="../../../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<label for="r59" class="ident">sc</label>, <label for="r60" class="ident">ok</label> := <a href="sanitizers.go.html#line-371" class="ident">elementContentSanitizationContext</a>[<label for="r58" class="ident">element</label>]
	<span class="keyword">if</span> !<label for="r60" class="ident">ok</label> {
		<span class="keyword">return</span> <span class="lit-number">0</span>, <a href="../../../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"actions must not occur in the element content context of a %q element"</span>, <label for="r58" class="ident">element</label>)
	}
	<span class="keyword">return</span> <label for="r59" class="ident">sc</label>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> sanitizeHTMLComment returns the empty string regardless of input.</span><span class="comment"> Comment content does not correspond to any parsed structure or</span><span class="comment"> human-readable content, so the simplest and most secure policy is to drop</span><span class="comment"> content interpolated into comments.</span><span class="comment"> This approach is equally valid whether or not static comment content is</span><span class="comment"> removed from the template.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r61" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-sanitizeHTMLComment" class="ident">sanitizeHTMLComment</a></label>(<label for="r62" class="ident">_</label> ...<span class="keyword">interface</span>{}) <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">return</span> <span class="lit-string">""</span>
</code></pre></div></div>

</div><pre id="footer">
<table><tr><td><img src="../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>