<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: transition.go in package github.com/google/safehtml/template</title>
<link href="../../../../../css/lightLiterate-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	transition.go

<span class="title">Belonging Package</span>
	<a href="../../../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
</code></pre>
<style>input[type=radio] {display: none;}
input[id=r0]:checked ~pre label[for=r0],
input[id=r1]:checked ~pre label[for=r1],
input[id=r2]:checked ~pre label[for=r2],
input[id=r3]:checked ~pre label[for=r3],
input[id=r4]:checked ~pre label[for=r4],
input[id=r5]:checked ~pre label[for=r5],
input[id=r6]:checked ~pre label[for=r6],
input[id=r7]:checked ~pre label[for=r7],
input[id=r8]:checked ~pre label[for=r8],
input[id=r9]:checked ~pre label[for=r9],
input[id=r10]:checked ~pre label[for=r10],
input[id=r11]:checked ~pre label[for=r11],
input[id=r12]:checked ~pre label[for=r12],
input[id=r13]:checked ~pre label[for=r13],
input[id=r14]:checked ~pre label[for=r14],
input[id=r15]:checked ~pre label[for=r15],
input[id=r16]:checked ~pre label[for=r16],
input[id=r17]:checked ~pre label[for=r17],
input[id=r18]:checked ~pre label[for=r18],
input[id=r19]:checked ~pre label[for=r19],
input[id=r20]:checked ~pre label[for=r20],
input[id=r21]:checked ~pre label[for=r21],
input[id=r22]:checked ~pre label[for=r22],
input[id=r23]:checked ~pre label[for=r23],
input[id=r24]:checked ~pre label[for=r24],
input[id=r25]:checked ~pre label[for=r25],
input[id=r26]:checked ~pre label[for=r26],
input[id=r27]:checked ~pre label[for=r27],
input[id=r28]:checked ~pre label[for=r28],
input[id=r29]:checked ~pre label[for=r29],
input[id=r30]:checked ~pre label[for=r30],
input[id=r31]:checked ~pre label[for=r31],
input[id=r32]:checked ~pre label[for=r32],
input[id=r33]:checked ~pre label[for=r33],
input[id=r34]:checked ~pre label[for=r34],
input[id=r35]:checked ~pre label[for=r35],
input[id=r36]:checked ~pre label[for=r36],
input[id=r37]:checked ~pre label[for=r37],
input[id=r38]:checked ~pre label[for=r38],
input[id=r39]:checked ~pre label[for=r39],
input[id=r40]:checked ~pre label[for=r40],
input[id=r41]:checked ~pre label[for=r41],
input[id=r42]:checked ~pre label[for=r42],
input[id=r43]:checked ~pre label[for=r43],
input[id=r44]:checked ~pre label[for=r44],
input[id=r45]:checked ~pre label[for=r45],
input[id=r46]:checked ~pre label[for=r46],
input[id=r47]:checked ~pre label[for=r47],
input[id=r48]:checked ~pre label[for=r48],
input[id=r49]:checked ~pre label[for=r49],
input[id=r50]:checked ~pre label[for=r50],
input[id=r51]:checked ~pre label[for=r51],
input[id=r52]:checked ~pre label[for=r52],
input[id=r53]:checked ~pre label[for=r53],
input[id=r54]:checked ~pre label[for=r54],
input[id=r55]:checked ~pre label[for=r55],
input[id=r56]:checked ~pre label[for=r56],
input[id=r57]:checked ~pre label[for=r57],
input[id=r58]:checked ~pre label[for=r58],
input[id=r59]:checked ~pre label[for=r59],
input[id=r60]:checked ~pre label[for=r60],
input[id=r61]:checked ~pre label[for=r61],
input[id=r62]:checked ~pre label[for=r62],
input[id=r63]:checked ~pre label[for=r63],
input[id=r64]:checked ~pre label[for=r64],
input[id=r65]:checked ~pre label[for=r65],
input[id=r66]:checked ~pre label[for=r66],
input[id=r67]:checked ~pre label[for=r67]
{background: #226; color: #ff8;}
input[id=i0]:checked ~pre .i0,
input[id=i1]:checked ~pre .i1
{background: brown; color: #eed;}
</style><input id="r0" type="radio" name="g"/>
<input id="r1" type="radio" name="g"/>
<input id="r2" type="radio" name="g"/>
<input id="r3" type="radio" name="g"/>
<input id="r4" type="radio" name="g"/>
<input id="r5" type="radio" name="g"/>
<input id="r6" type="radio" name="g"/>
<input id="r7" type="radio" name="g"/>
<input id="r8" type="radio" name="g"/>
<input id="r9" type="radio" name="g"/>
<input id="r10" type="radio" name="g"/>
<input id="r11" type="radio" name="g"/>
<input id="r12" type="radio" name="g"/>
<input id="r13" type="radio" name="g"/>
<input id="r14" type="radio" name="g"/>
<input id="r15" type="radio" name="g"/>
<input id="r16" type="radio" name="g"/>
<input id="r17" type="radio" name="g"/>
<input id="r18" type="radio" name="g"/>
<input id="r19" type="radio" name="g"/>
<input id="r20" type="radio" name="g"/>
<input id="r21" type="radio" name="g"/>
<input id="r22" type="radio" name="g"/>
<input id="r23" type="radio" name="g"/>
<input id="r24" type="radio" name="g"/>
<input id="r25" type="radio" name="g"/>
<input id="r26" type="radio" name="g"/>
<input id="r27" type="radio" name="g"/>
<input id="r28" type="radio" name="g"/>
<input id="r29" type="radio" name="g"/>
<input id="r30" type="radio" name="g"/>
<input id="r31" type="radio" name="g"/>
<input id="r32" type="radio" name="g"/>
<input id="r33" type="radio" name="g"/>
<input id="r34" type="radio" name="g"/>
<input id="r35" type="radio" name="g"/>
<input id="r36" type="radio" name="g"/>
<input id="r37" type="radio" name="g"/>
<input id="r38" type="radio" name="g"/>
<input id="r39" type="radio" name="g"/>
<input id="r40" type="radio" name="g"/>
<input id="r41" type="radio" name="g"/>
<input id="r42" type="radio" name="g"/>
<input id="r43" type="radio" name="g"/>
<input id="r44" type="radio" name="g"/>
<input id="r45" type="radio" name="g"/>
<input id="r46" type="radio" name="g"/>
<input id="r47" type="radio" name="g"/>
<input id="r48" type="radio" name="g"/>
<input id="r49" type="radio" name="g"/>
<input id="r50" type="radio" name="g"/>
<input id="r51" type="radio" name="g"/>
<input id="r52" type="radio" name="g"/>
<input id="r53" type="radio" name="g"/>
<input id="r54" type="radio" name="g"/>
<input id="r55" type="radio" name="g"/>
<input id="r56" type="radio" name="g"/>
<input id="r57" type="radio" name="g"/>
<input id="r58" type="radio" name="g"/>
<input id="r59" type="radio" name="g"/>
<input id="r60" type="radio" name="g"/>
<input id="r61" type="radio" name="g"/>
<input id="r62" type="radio" name="g"/>
<input id="r63" type="radio" name="g"/>
<input id="r64" type="radio" name="g"/>
<input id="r65" type="radio" name="g"/>
<input id="r66" type="radio" name="g"/>
<input id="r67" type="radio" name="g"/>
<input id="i0" type="radio" name="i"/>
<input id="i1" type="radio" name="i"/>
<div id="container"><div class="section">
<div class="doc">
<span class="comment"> Copyright 2011 The Go Authors. All rights reserved.</span><span class="comment"> Use of this source code is governed by a BSD-style</span><span class="comment"> license that can be found in the LICENSE file.</span></div>
<div class="code"><pre><code>
<span class="keyword">package</span> template

<span class="keyword">import</span> (
	<label for="i0"><span class="lit-string i0">"bytes"</span></label>
	<label for="i1"><span class="lit-string i1">"strings"</span></label>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> transitionFunc is the array of context transition functions for text nodes.</span><span class="comment"> A transition function takes a context and template text input, and returns</span><span class="comment"> the updated context and the number of bytes consumed from the front of the</span><span class="comment"> input.</span></div>
<div class="code"><pre><code><span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-transitionFunc" class="ident">transitionFunc</a> = [...]<span class="keyword">func</span>(<a href="context.go.html#line-18" class="ident">context</a>, []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>){
	<a href="context.go.html#line-69" class="ident">stateText</a>:               <a href="#line-32" class="ident">tText</a>,
	<a href="context.go.html#line-71" class="ident">stateSpecialElementBody</a>: <a href="#line-204" class="ident">tSpecialTagEnd</a>,
	<a href="context.go.html#line-73" class="ident">stateTag</a>:                <a href="#line-93" class="ident">tTag</a>,
	<a href="context.go.html#line-76" class="ident">stateAttrName</a>:           <a href="#line-144" class="ident">tAttrName</a>,
	<a href="context.go.html#line-79" class="ident">stateAfterName</a>:          <a href="#line-155" class="ident">tAfterName</a>,
	<a href="context.go.html#line-82" class="ident">stateBeforeValue</a>:        <a href="#line-171" class="ident">tBeforeValue</a>,
	<a href="context.go.html#line-84" class="ident">stateHTMLCmt</a>:            <a href="#line-190" class="ident">tHTMLCmt</a>,
	<a href="context.go.html#line-86" class="ident">stateAttr</a>:               <a href="#line-239" class="ident">tAttr</a>,
	<a href="context.go.html#line-89" class="ident">stateError</a>:              <a href="#line-244" class="ident">tError</a>,
}

<span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-commentStart" class="ident">commentStart</a> = []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>(<span class="lit-string">"&lt;!--"</span>)
<span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-commentEnd" class="ident">commentEnd</a> = []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>(<span class="lit-string">"--&gt;"</span>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tText is the context transition function for the text state.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r0" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tText" class="ident">tText</a></label>(<label for="r1" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r2" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<label for="r3" class="ident">k</label> := <span class="lit-number">0</span>
	<span class="keyword">for</span> {
		<label for="r4" class="ident">i</label> := <label for="r3" class="ident">k</label> + <a href="../../../../../pkg/bytes.html" class="ident i0">bytes</a>.<a href="../../../../bytes/bytes.go.html#line-90" class="ident">IndexByte</a>(<label for="r2" class="ident">s</label>[<label for="r3" class="ident">k</label>:], <span class="lit-number">'&lt;'</span>)
		<span class="keyword">if</span> <label for="r4" class="ident">i</label> &lt; <label for="r3" class="ident">k</label> || <label for="r4" class="ident">i</label>+<span class="lit-number">1</span> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r2" class="ident">s</label>) {
			<span class="keyword">return</span> <label for="r1" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r2" class="ident">s</label>)
		} <span class="keyword">else</span> <span class="keyword">if</span> <label for="r4" class="ident">i</label>+<span class="lit-number">4</span> &lt;= <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r2" class="ident">s</label>) &amp;&amp; <a href="../../../../../pkg/bytes.html" class="ident i0">bytes</a>.<a href="../../../../bytes/bytes.go.html#line-18" class="ident">Equal</a>(<a href="#line-28" class="ident">commentStart</a>, <label for="r2" class="ident">s</label>[<label for="r4" class="ident">i</label>:<label for="r4" class="ident">i</label>+<span class="lit-number">4</span>]) {
			<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{<a href="context.go.html#line-19" class="ident">state</a>: <a href="context.go.html#line-84" class="ident">stateHTMLCmt</a>}, <label for="r4" class="ident">i</label> + <span class="lit-number">4</span>
		}
		<label for="r4" class="ident">i</label>++
		<label for="r5" class="ident">end</label> := <a href="../../../../../pkg/builtin.html#name-false" class="ident">false</a>
		<span class="keyword">if</span> <label for="r2" class="ident">s</label>[<label for="r4" class="ident">i</label>] == <span class="lit-number">'/'</span> {
			<span class="keyword">if</span> <label for="r4" class="ident">i</label>+<span class="lit-number">1</span> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r2" class="ident">s</label>) {
				<span class="keyword">return</span> <label for="r1" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r2" class="ident">s</label>)
			}
			<label for="r5" class="ident">end</label>, <label for="r4" class="ident">i</label> = <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>, <label for="r4" class="ident">i</label>+<span class="lit-number">1</span>
		}
		<label for="r6" class="ident">j</label>, <label for="r7" class="ident">e</label> := <a href="#line-280" class="ident">eatTagName</a>(<label for="r2" class="ident">s</label>, <label for="r4" class="ident">i</label>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> We've found an HTML tag.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Element name not needed if we are at the end of the element.</span></div>
<div class="code"><pre><code>			<span class="keyword">if</span> !<label for="r5" class="ident">end</label> {
				<label for="r8" class="ident">ret</label>.<a href="context.go.html#line-21" class="ident">element</a> = <label for="r7" class="ident">e</label>
			}
			<span class="keyword">return</span> <label for="r8" class="ident">ret</label>, <label for="r6" class="ident">j</label>
		}
		<label for="r3" class="ident">k</label> = <label for="r6" class="ident">j</label>
	}
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> specialElements contains the names of elements whose bodies are treated</span><span class="comment"> differently by the parser and escaper from stateText.</span></div>
<div class="code"><pre><code><span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-specialElements" class="ident">specialElements</a> = <span class="keyword">map</span>[<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>]<a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a>{
	<span class="lit-string">"script"</span>:   <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"style"</span>:    <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"textarea"</span>: <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"title"</span>:    <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> voidElements contains the names of all void elements.</span><span class="comment"> https://www.w3.org/TR/html5/syntax.html#void-elements</span></div>
<div class="code"><pre><code><span class="keyword">var</span> <a href="../../../../../pkg/github.com/google/safehtml/template.html#name-voidElements" class="ident">voidElements</a> = <span class="keyword">map</span>[<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>]<a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a>{
	<span class="lit-string">"area"</span>:   <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"base"</span>:   <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"br"</span>:     <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"col"</span>:    <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"embed"</span>:  <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"hr"</span>:     <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"img"</span>:    <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"input"</span>:  <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"keygen"</span>: <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"link"</span>:   <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"meta"</span>:   <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"param"</span>:  <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"source"</span>: <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"track"</span>:  <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
	<span class="lit-string">"wbr"</span>:    <a href="../../../../../pkg/builtin.html#name-true" class="ident">true</a>,
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tTag is the context transition function for the tag state.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Find the attribute name.</span></div>
<div class="code"><pre><code>	<label for="r12" class="ident">i</label> := <a href="#line-302" class="ident">eatWhiteSpace</a>(<label for="r11" class="ident">s</label>, <span class="lit-number">0</span>)
	<span class="keyword">if</span> <label for="r12" class="ident">i</label> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r11" class="ident">s</label>) {
		<span class="keyword">return</span> <label for="r10" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r11" class="ident">s</label>)
	}
	<span class="keyword">if</span> <label for="r11" class="ident">s</label>[<label for="r12" class="ident">i</label>] == <span class="lit-number">'&gt;'</span> {
		<label for="r13" class="ident">ret</label> := <a href="context.go.html#line-18" class="ident">context</a>{
			<a href="context.go.html#line-19" class="ident">state</a>:      <a href="context.go.html#line-69" class="ident">stateText</a>,
			<a href="context.go.html#line-21" class="ident">element</a>:    <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>,
			<a href="context.go.html#line-29" class="ident">scriptType</a>: <label for="r10" class="ident">c</label>.<a href="context.go.html#line-29" class="ident">scriptType</a>,
			<a href="context.go.html#line-38" class="ident">linkRel</a>:    <label for="r10" class="ident">c</label>.<a href="context.go.html#line-38" class="ident">linkRel</a>,
		}
		<span class="keyword">if</span> <a href="#line-65" class="ident">specialElements</a>[<label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>] {
			<label for="r13" class="ident">ret</label>.<a href="context.go.html#line-19" class="ident">state</a> = <a href="context.go.html#line-71" class="ident">stateSpecialElementBody</a>
		}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Special case: end of start tag of a void element.</span><span class="comment">			 Discard unnecessary state, since this element have no content.</span></div>
<div class="code"><pre><code>			<label for="r13" class="ident">ret</label>.<a href="context.go.html#line-21" class="ident">element</a> = <a href="context.go.html#line-128" class="ident">element</a>{}
			<label for="r13" class="ident">ret</label>.<a href="context.go.html#line-29" class="ident">scriptType</a> = <span class="lit-string">""</span>
			<label for="r13" class="ident">ret</label>.<a href="context.go.html#line-38" class="ident">linkRel</a> = <span class="lit-string">""</span>
		}
		<span class="keyword">return</span> <label for="r13" class="ident">ret</label>, <label for="r12" class="ident">i</label> + <span class="lit-number">1</span>
	}
	<label for="r14" class="ident">j</label>, <label for="r15" class="ident">err</label> := <a href="#line-252" class="ident">eatAttrName</a>(<label for="r11" class="ident">s</label>, <label for="r12" class="ident">i</label>)
	<span class="keyword">if</span> <label for="r15" class="ident">err</label> != <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
		<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{<a href="context.go.html#line-19" class="ident">state</a>: <a href="context.go.html#line-89" class="ident">stateError</a>, <a href="context.go.html#line-23" class="ident">err</a>: <label for="r15" class="ident">err</label>}, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r11" class="ident">s</label>)
	}
	<label for="r16" class="ident">state</label> := <a href="context.go.html#line-73" class="ident">stateTag</a>
	<span class="keyword">if</span> <label for="r12" class="ident">i</label> == <label for="r14" class="ident">j</label> {
		<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{
			<a href="context.go.html#line-19" class="ident">state</a>: <a href="context.go.html#line-89" class="ident">stateError</a>,
			<a href="context.go.html#line-23" class="ident">err</a>:   <a href="error.go.html#line-278" class="ident">errorf</a>(<a href="error.go.html#line-76" class="ident">ErrBadHTML</a>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <span class="lit-number">0</span>, <span class="lit-string">"expected space, attr name, or end of tag, but got %q"</span>, <label for="r11" class="ident">s</label>[<label for="r12" class="ident">i</label>:]),
		}, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r11" class="ident">s</label>)
	}

	<span class="keyword">if</span> <label for="r14" class="ident">j</label> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r11" class="ident">s</label>) {
		<label for="r16" class="ident">state</label> = <a href="context.go.html#line-76" class="ident">stateAttrName</a>
	} <span class="keyword">else</span> {
		<label for="r16" class="ident">state</label> = <a href="context.go.html#line-79" class="ident">stateAfterName</a>
	}
	<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{
		<a href="context.go.html#line-19" class="ident">state</a>:   <label for="r16" class="ident">state</label>,
		<a href="context.go.html#line-21" class="ident">element</a>: <label for="r10" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>,
		<a href="context.go.html#line-22" class="ident">attr</a>:    <a href="context.go.html#line-153" class="ident">attr</a>{<a href="context.go.html#line-156" class="ident">name</a>: <a href="../../../../../pkg/strings.html" class="ident i1">strings</a>.<a href="../../../../strings/strings.go.html#line-580" class="ident">ToLower</a>(<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>(<label for="r11" class="ident">s</label>[<label for="r12" class="ident">i</label>:<label for="r14" class="ident">j</label>]))},
		<a href="context.go.html#line-38" class="ident">linkRel</a>: <label for="r10" class="ident">c</label>.<a href="context.go.html#line-38" class="ident">linkRel</a>,
	}, <label for="r14" class="ident">j</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tAttrName is the context transition function for stateAttrName.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r17" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tAttrName" class="ident">tAttrName</a></label>(<label for="r18" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r19" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<label for="r20" class="ident">i</label>, <label for="r21" class="ident">err</label> := <a href="#line-252" class="ident">eatAttrName</a>(<label for="r19" class="ident">s</label>, <span class="lit-number">0</span>)
	<span class="keyword">if</span> <label for="r21" class="ident">err</label> != <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
		<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{<a href="context.go.html#line-19" class="ident">state</a>: <a href="context.go.html#line-89" class="ident">stateError</a>, <a href="context.go.html#line-23" class="ident">err</a>: <label for="r21" class="ident">err</label>}, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r19" class="ident">s</label>)
	} <span class="keyword">else</span> <span class="keyword">if</span> <label for="r20" class="ident">i</label> != <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r19" class="ident">s</label>) {
		<label for="r18" class="ident">c</label>.<a href="context.go.html#line-19" class="ident">state</a> = <a href="context.go.html#line-79" class="ident">stateAfterName</a>
	}
	<span class="keyword">return</span> <label for="r18" class="ident">c</label>, <label for="r20" class="ident">i</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tAfterName is the context transition function for stateAfterName.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Look for the start of the value.</span></div>
<div class="code"><pre><code>	<label for="r25" class="ident">i</label> := <a href="#line-302" class="ident">eatWhiteSpace</a>(<label for="r24" class="ident">s</label>, <span class="lit-number">0</span>)
	<span class="keyword">if</span> <label for="r25" class="ident">i</label> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r24" class="ident">s</label>) {
		<span class="keyword">return</span> <label for="r23" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r24" class="ident">s</label>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Occurs due to tag ending '&gt;', and valueless attribute.</span></div>
<div class="code"><pre><code>		<label for="r23" class="ident">c</label>.<a href="context.go.html#line-19" class="ident">state</a> = <a href="context.go.html#line-73" class="ident">stateTag</a>
		<span class="keyword">return</span> <label for="r23" class="ident">c</label>, <label for="r25" class="ident">i</label>
	}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Consume the "=".</span></div>
<div class="code"><pre><code>	<span class="keyword">return</span> <label for="r23" class="ident">c</label>, <label for="r25" class="ident">i</label> + <span class="lit-number">1</span>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tBeforeValue is the context transition function for stateBeforeValue.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r26" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tBeforeValue" class="ident">tBeforeValue</a></label>(<label for="r27" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r28" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<label for="r29" class="ident">i</label> := <a href="#line-302" class="ident">eatWhiteSpace</a>(<label for="r28" class="ident">s</label>, <span class="lit-number">0</span>)
	<span class="keyword">if</span> <label for="r29" class="ident">i</label> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r28" class="ident">s</label>) {
		<span class="keyword">return</span> <label for="r27" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r28" class="ident">s</label>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Find the attribute delimiter.</span><span class="comment">	 TODO: consider disallowing single-quoted or unquoted attribute values completely, even in hardcoded template text.</span></div>
<div class="code"><pre><code>	<label for="r30" class="ident">delim</label> := <a href="context.go.html#line-125" class="ident">delimSpaceOrTagEnd</a>
	<span class="keyword">switch</span> <label for="r28" class="ident">s</label>[<label for="r29" class="ident">i</label>] {
	<span class="keyword">case</span> <span class="lit-number">'\''</span>:
		<label for="r30" class="ident">delim</label>, <label for="r29" class="ident">i</label> = <a href="context.go.html#line-122" class="ident">delimSingleQuote</a>, <label for="r29" class="ident">i</label>+<span class="lit-number">1</span>
	<span class="keyword">case</span> <span class="lit-number">'"'</span>:
		<label for="r30" class="ident">delim</label>, <label for="r29" class="ident">i</label> = <a href="context.go.html#line-120" class="ident">delimDoubleQuote</a>, <label for="r29" class="ident">i</label>+<span class="lit-number">1</span>
	}
	<label for="r27" class="ident">c</label>.<a href="context.go.html#line-19" class="ident">state</a>, <label for="r27" class="ident">c</label>.<a href="context.go.html#line-20" class="ident">delim</a> = <a href="context.go.html#line-86" class="ident">stateAttr</a>, <label for="r30" class="ident">delim</label>
	<span class="keyword">return</span> <label for="r27" class="ident">c</label>, <label for="r29" class="ident">i</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tHTMLCmt is the context transition function for stateHTMLCmt.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r31" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tHTMLCmt" class="ident">tHTMLCmt</a></label>(<label for="r32" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r33" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<span class="keyword">if</span> <label for="r34" class="ident">i</label> := <a href="../../../../../pkg/bytes.html" class="ident i0">bytes</a>.<a href="../../../../bytes/bytes.go.html#line-1091" class="ident">Index</a>(<label for="r33" class="ident">s</label>, <a href="#line-29" class="ident">commentEnd</a>); <label for="r34" class="ident">i</label> != -<span class="lit-number">1</span> {
		<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{}, <label for="r34" class="ident">i</label> + <span class="lit-number">3</span>
	}
	<span class="keyword">return</span> <label for="r32" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r33" class="ident">s</label>)
}

<span class="keyword">var</span> (
	<a href="../../../../../pkg/github.com/google/safehtml/template.html#name-specialTagEndPrefix" class="ident">specialTagEndPrefix</a> = []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>(<span class="lit-string">"&lt;/"</span>)
	<a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tagEndSeparators" class="ident">tagEndSeparators</a>    = []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>(<span class="lit-string">"&gt; \t\n\f/"</span>)
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tSpecialTagEnd is the context transition function for raw text, RCDATA</span><span class="comment"> script data, and stylesheet element states.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r35" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tSpecialTagEnd" class="ident">tSpecialTagEnd</a></label>(<label for="r36" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r37" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<span class="keyword">if</span> <a href="#line-65" class="ident">specialElements</a>[<label for="r36" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>] {
		<span class="keyword">if</span> <label for="r38" class="ident">i</label> := <a href="#line-214" class="ident">indexTagEnd</a>(<label for="r37" class="ident">s</label>, []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>(<label for="r36" class="ident">c</label>.<a href="context.go.html#line-21" class="ident">element</a>.<a href="context.go.html#line-131" class="ident">name</a>)); <label for="r38" class="ident">i</label> != -<span class="lit-number">1</span> {
			<span class="keyword">return</span> <a href="context.go.html#line-18" class="ident">context</a>{}, <label for="r38" class="ident">i</label>
		}
	}
	<span class="keyword">return</span> <label for="r36" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r37" class="ident">s</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> indexTagEnd finds the index of a special tag end in a case insensitive way, or returns -1</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r39" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-indexTagEnd" class="ident">indexTagEnd</a></label>(<label for="r40" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <label for="r41" class="ident">tag</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a> {
	<label for="r42" class="ident">res</label> := <span class="lit-number">0</span>
	<label for="r43" class="ident">plen</label> := <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<a href="#line-198" class="ident">specialTagEndPrefix</a>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Try to find the tag end prefix first</span></div>
<div class="code"><pre><code>		<label for="r44" class="ident">i</label> := <a href="../../../../../pkg/bytes.html" class="ident i0">bytes</a>.<a href="../../../../bytes/bytes.go.html#line-1091" class="ident">Index</a>(<label for="r40" class="ident">s</label>, <a href="#line-198" class="ident">specialTagEndPrefix</a>)
		<span class="keyword">if</span> <label for="r44" class="ident">i</label> == -<span class="lit-number">1</span> {
			<span class="keyword">return</span> <label for="r44" class="ident">i</label>
		}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Try to match the actual tag if there is still space for it</span></div>
<div class="code"><pre><code>		<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r41" class="ident">tag</label>) &lt;= <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r40" class="ident">s</label>) &amp;&amp; <a href="../../../../../pkg/bytes.html" class="ident i0">bytes</a>.<a href="../../../../bytes/bytes.go.html#line-1037" class="ident">EqualFold</a>(<label for="r41" class="ident">tag</label>, <label for="r40" class="ident">s</label>[:<a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r41" class="ident">tag</label>)]) {
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Check the tag is followed by a proper separator</span></div>
<div class="code"><pre><code>			<span class="keyword">if</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r40" class="ident">s</label>) &gt; <span class="lit-number">0</span> &amp;&amp; <a href="../../../../../pkg/bytes.html" class="ident i0">bytes</a>.<a href="../../../../bytes/bytes.go.html#line-90" class="ident">IndexByte</a>(<a href="#line-199" class="ident">tagEndSeparators</a>, <label for="r40" class="ident">s</label>[<span class="lit-number">0</span>]) != -<span class="lit-number">1</span> {
				<span class="keyword">return</span> <label for="r42" class="ident">res</label> + <label for="r44" class="ident">i</label>
			}
			<label for="r42" class="ident">res</label> += <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r41" class="ident">tag</label>)
		}
		<label for="r42" class="ident">res</label> += <label for="r44" class="ident">i</label> + <label for="r43" class="ident">plen</label>
	}
	<span class="keyword">return</span> -<span class="lit-number">1</span>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tAttr is the context transition function for the attribute state.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r45" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tAttr" class="ident">tAttr</a></label>(<label for="r46" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r47" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<span class="keyword">return</span> <label for="r46" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r47" class="ident">s</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> tError is the context transition function for the error state.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r48" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-tError" class="ident">tError</a></label>(<label for="r49" class="ident">c</label> <a href="context.go.html#line-18" class="ident">context</a>, <label for="r50" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) (<a href="context.go.html#line-18" class="ident">context</a>, <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) {
	<span class="keyword">return</span> <label for="r49" class="ident">c</label>, <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r50" class="ident">s</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eatAttrName returns the largest j such that s[i:j] is an attribute name.</span><span class="comment"> It returns an error if s[i:] does not look like it begins with an</span><span class="comment"> attribute name, such as encountering a quote mark without a preceding</span><span class="comment"> equals sign.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r51" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-eatAttrName" class="ident">eatAttrName</a></label>(<label for="r52" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <label for="r53" class="ident">i</label> <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) (<a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>, *<a href="error.go.html#line-13" class="ident">Error</a>) {
	<span class="keyword">for</span> <label for="r54" class="ident">j</label> := <label for="r53" class="ident">i</label>; <label for="r54" class="ident">j</label> &lt; <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r52" class="ident">s</label>); <label for="r54" class="ident">j</label>++ {
		<span class="keyword">switch</span> <label for="r52" class="ident">s</label>[<label for="r54" class="ident">j</label>] {
		<span class="keyword">case</span> <span class="lit-number">' '</span>, <span class="lit-number">'\t'</span>, <span class="lit-number">'\n'</span>, <span class="lit-number">'\f'</span>, <span class="lit-number">'\r'</span>, <span class="lit-number">'='</span>, <span class="lit-number">'&gt;'</span>:
			<span class="keyword">return</span> <label for="r54" class="ident">j</label>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> These result in a parse warning in HTML5 and are</span><span class="comment">			 indicative of serious problems if seen in an attr</span><span class="comment">			 name in a template.</span></div>
<div class="code"><pre><code>			<span class="keyword">return</span> -<span class="lit-number">1</span>, <a href="error.go.html#line-278" class="ident">errorf</a>(<a href="error.go.html#line-76" class="ident">ErrBadHTML</a>, <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <span class="lit-number">0</span>, <span class="lit-string">"%q in attribute name: %.32q"</span>, <label for="r52" class="ident">s</label>[<label for="r54" class="ident">j</label>:<label for="r54" class="ident">j</label>+<span class="lit-number">1</span>], <label for="r52" class="ident">s</label>)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> No-op.</span></div>
<div class="code"><pre><code>		}
	}
	<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r52" class="ident">s</label>), <a href="../../../../../pkg/builtin.html#name-nil" class="ident">nil</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> asciiAlpha reports whether c is an ASCII letter.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r55" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-asciiAlpha" class="ident">asciiAlpha</a></label>(<label for="r56" class="ident">c</label> <a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">return</span> <span class="lit-number">'A'</span> &lt;= <label for="r56" class="ident">c</label> &amp;&amp; <label for="r56" class="ident">c</label> &lt;= <span class="lit-number">'Z'</span> || <span class="lit-number">'a'</span> &lt;= <label for="r56" class="ident">c</label> &amp;&amp; <label for="r56" class="ident">c</label> &lt;= <span class="lit-number">'z'</span>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> asciiAlphaNum reports whether c is an ASCII letter or digit.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r57" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-asciiAlphaNum" class="ident">asciiAlphaNum</a></label>(<label for="r58" class="ident">c</label> <a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>) <a href="../../../../../pkg/builtin.html#name-bool" class="ident">bool</a> {
	<span class="keyword">return</span> <a href="#line-270" class="ident">asciiAlpha</a>(<label for="r58" class="ident">c</label>) || <span class="lit-number">'0'</span> &lt;= <label for="r58" class="ident">c</label> &amp;&amp; <label for="r58" class="ident">c</label> &lt;= <span class="lit-number">'9'</span>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eatTagName returns the largest j such that s[i:j] is a tag name and the tag name.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r59" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-eatTagName" class="ident">eatTagName</a></label>(<label for="r60" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <label for="r61" class="ident">i</label> <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) (<a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>, <a href="context.go.html#line-128" class="ident">element</a>) {
	<span class="keyword">if</span> <label for="r61" class="ident">i</label> == <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r60" class="ident">s</label>) || !<a href="#line-270" class="ident">asciiAlpha</a>(<label for="r60" class="ident">s</label>[<label for="r61" class="ident">i</label>]) {
		<span class="keyword">return</span> <label for="r61" class="ident">i</label>, <a href="context.go.html#line-128" class="ident">element</a>{}
	}
	<label for="r62" class="ident">j</label> := <label for="r61" class="ident">i</label> + <span class="lit-number">1</span>
	<span class="keyword">for</span> <label for="r62" class="ident">j</label> &lt; <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r60" class="ident">s</label>) {
		<label for="r63" class="ident">x</label> := <label for="r60" class="ident">s</label>[<label for="r62" class="ident">j</label>]
		<span class="keyword">if</span> <a href="#line-275" class="ident">asciiAlphaNum</a>(<label for="r63" class="ident">x</label>) {
			<label for="r62" class="ident">j</label>++
			<span class="keyword">continue</span>
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Allow "x-y" or "x:y" but not "x-", "-y", or "x--y".</span></div>
<div class="code"><pre><code>		<span class="keyword">if</span> (<label for="r63" class="ident">x</label> == <span class="lit-number">':'</span> || <label for="r63" class="ident">x</label> == <span class="lit-number">'-'</span>) &amp;&amp; <label for="r62" class="ident">j</label>+<span class="lit-number">1</span> &lt; <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r60" class="ident">s</label>) &amp;&amp; <a href="#line-275" class="ident">asciiAlphaNum</a>(<label for="r60" class="ident">s</label>[<label for="r62" class="ident">j</label>+<span class="lit-number">1</span>]) {
			<label for="r62" class="ident">j</label> += <span class="lit-number">2</span>
			<span class="keyword">continue</span>
		}
		<span class="keyword">break</span>
	}
	<span class="keyword">return</span> <label for="r62" class="ident">j</label>, <a href="context.go.html#line-128" class="ident">element</a>{<a href="context.go.html#line-131" class="ident">name</a>: <a href="../../../../../pkg/strings.html" class="ident i1">strings</a>.<a href="../../../../strings/strings.go.html#line-580" class="ident">ToLower</a>(<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>(<label for="r60" class="ident">s</label>[<label for="r61" class="ident">i</label>:<label for="r62" class="ident">j</label>]))}
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> eatWhiteSpace returns the largest j such that s[i:j] is white space.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r64" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-eatWhiteSpace" class="ident">eatWhiteSpace</a></label>(<label for="r65" class="ident">s</label> []<a href="../../../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <label for="r66" class="ident">i</label> <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a>) <a href="../../../../../pkg/builtin.html#name-int" class="ident">int</a> {
	<span class="keyword">for</span> <label for="r67" class="ident">j</label> := <label for="r66" class="ident">i</label>; <label for="r67" class="ident">j</label> &lt; <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r65" class="ident">s</label>); <label for="r67" class="ident">j</label>++ {
		<span class="keyword">switch</span> <label for="r65" class="ident">s</label>[<label for="r67" class="ident">j</label>] {
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> No-op.</span></div>
<div class="code"><pre><code>		<span class="keyword">default</span>:
			<span class="keyword">return</span> <label for="r67" class="ident">j</label>
		}
	}
	<span class="keyword">return</span> <a href="../../../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r65" class="ident">s</label>)
</code></pre></div></div>

</div><pre id="footer">
<table><tr><td><img src="../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>