<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: trustedtemplate.go in package github.com/google/safehtml/template</title>
<link href="../../../../../css/lightLiterate-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	trustedtemplate.go

<span class="title">Belonging Package</span>
	<a href="../../../../../pkg/github.com/google/safehtml/template.html">github.com/google/safehtml/template</a>
</code></pre>
<style>input[type=radio] {display: none;}
input[id=r0]:checked ~pre label[for=r0],
input[id=r1]:checked ~pre label[for=r1],
input[id=r2]:checked ~pre label[for=r2],
input[id=r3]:checked ~pre label[for=r3]
{background: #226; color: #ff8;}
{background: brown; color: #eed;}
</style><input id="r0" type="radio" name="g"/>
<input id="r1" type="radio" name="g"/>
<input id="r2" type="radio" name="g"/>
<input id="r3" type="radio" name="g"/>
<div id="container"><div class="section">
<div class="doc">
<span class="comment"> Copyright (c) 2017 The Go Authors. All rights reserved.</span><span class="comment"></span><span class="comment"> Use of this source code is governed by a BSD-style</span><span class="comment"> license that can be found in the LICENSE file or at</span><span class="comment"> https://developers.google.com/open-source/licenses/bsd</span></div>
<div class="code"><pre><code>
<span class="keyword">package</span> template
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> A TrustedTemplate is an immutable string-like type containing a</span><span class="comment"> safehtml/template template body. It can be safely loaded as template</span><span class="comment"> text without the risk of untrusted template execution.</span><span class="comment"></span><span class="comment"> In order to ensure that an attacker cannot influence the TrustedTemplate</span><span class="comment"> value, a TrustedTemplate can be instantiated only from untyped string constants,</span><span class="comment"> and never from arbitrary string values potentially representing untrusted user input.</span><span class="comment"></span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> We declare a TrustedTemplate not as a string but as a struct wrapping a string</span><span class="comment">	 to prevent construction of TrustedTemplate values through string conversion.</span></div>
<div class="code"><pre><code>	<a href="../../../../../use/github.com/google/safehtml/template..TrustedTemplate.tmpl*33889.html" class="ident">tmpl</a> <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> MakeTrustedTemplate constructs a TrustedTemplate with its underlying</span><span class="comment"> tmpl set to the given tmpl, which must be an untyped string constant.</span><span class="comment"></span><span class="comment"> No runtime validation or sanitization is performed on tmpl; being under</span><span class="comment"> application control, it is simply assumed to comply with the TrustedTemplate type</span><span class="comment"> contract.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r0" class="ident"><a href="../../../../../pkg/github.com/google/safehtml/template.html#name-MakeTrustedTemplate" class="ident">MakeTrustedTemplate</a></label>(<label for="r1" class="ident">tmpl</label> <a href="template.go.html#line-444" class="ident">stringConstant</a>) <a href="#line-17" class="ident">TrustedTemplate</a> {
	<span class="keyword">return</span> <a href="#line-17" class="ident">TrustedTemplate</a>{<a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a>(<label for="r1" class="ident">tmpl</label>)}
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> String returns the string form of the TrustedTemplate.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r2" class="ident">t</label> <a href="#line-17" class="ident">TrustedTemplate</a>) <label for="r3" class="ident"><a href="../../../../../use/github.com/google/safehtml/template..TrustedTemplate.String.html" class="ident">String</a></label>() <a href="../../../../../pkg/builtin.html#name-string" class="ident">string</a> {
	<span class="keyword">return</span> <label for="r2" class="ident">t</label>.<a href="#line-20" class="ident">tmpl</a>
</code></pre></div></div>

</div><pre id="footer">
<table><tr><td><img src="../../../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>