<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Source: helper.go in package text/template</title>
<link href="../../../css/lightLiterate-v0.3.2-preview.css" rel="stylesheet">
<script src="../../../jvs/golds-v0.3.2-preview.js"></script>
<body onload="onPageLoad()"><div>

<pre id="header"><code><span class="title">Source File</span>
	helper.go

<span class="title">Belonging Package</span>
	<a href="../../../pkg/text/template.html">text/template</a>
</code></pre>
<style>input[type=radio] {display: none;}
input[id=r0]:checked ~pre label[for=r0],
input[id=r1]:checked ~pre label[for=r1],
input[id=r2]:checked ~pre label[for=r2],
input[id=r3]:checked ~pre label[for=r3],
input[id=r4]:checked ~pre label[for=r4],
input[id=r5]:checked ~pre label[for=r5],
input[id=r6]:checked ~pre label[for=r6],
input[id=r7]:checked ~pre label[for=r7],
input[id=r8]:checked ~pre label[for=r8],
input[id=r9]:checked ~pre label[for=r9],
input[id=r10]:checked ~pre label[for=r10],
input[id=r11]:checked ~pre label[for=r11],
input[id=r12]:checked ~pre label[for=r12],
input[id=r13]:checked ~pre label[for=r13],
input[id=r14]:checked ~pre label[for=r14],
input[id=r15]:checked ~pre label[for=r15],
input[id=r16]:checked ~pre label[for=r16],
input[id=r17]:checked ~pre label[for=r17],
input[id=r18]:checked ~pre label[for=r18],
input[id=r19]:checked ~pre label[for=r19],
input[id=r20]:checked ~pre label[for=r20],
input[id=r21]:checked ~pre label[for=r21],
input[id=r22]:checked ~pre label[for=r22],
input[id=r23]:checked ~pre label[for=r23],
input[id=r24]:checked ~pre label[for=r24],
input[id=r25]:checked ~pre label[for=r25],
input[id=r26]:checked ~pre label[for=r26],
input[id=r27]:checked ~pre label[for=r27],
input[id=r28]:checked ~pre label[for=r28],
input[id=r29]:checked ~pre label[for=r29],
input[id=r30]:checked ~pre label[for=r30],
input[id=r31]:checked ~pre label[for=r31],
input[id=r32]:checked ~pre label[for=r32],
input[id=r33]:checked ~pre label[for=r33],
input[id=r34]:checked ~pre label[for=r34],
input[id=r35]:checked ~pre label[for=r35],
input[id=r36]:checked ~pre label[for=r36],
input[id=r37]:checked ~pre label[for=r37],
input[id=r38]:checked ~pre label[for=r38],
input[id=r39]:checked ~pre label[for=r39],
input[id=r40]:checked ~pre label[for=r40],
input[id=r41]:checked ~pre label[for=r41],
input[id=r42]:checked ~pre label[for=r42],
input[id=r43]:checked ~pre label[for=r43],
input[id=r44]:checked ~pre label[for=r44],
input[id=r45]:checked ~pre label[for=r45],
input[id=r46]:checked ~pre label[for=r46],
input[id=r47]:checked ~pre label[for=r47],
input[id=r48]:checked ~pre label[for=r48],
input[id=r49]:checked ~pre label[for=r49],
input[id=r50]:checked ~pre label[for=r50],
input[id=r51]:checked ~pre label[for=r51],
input[id=r52]:checked ~pre label[for=r52],
input[id=r53]:checked ~pre label[for=r53],
input[id=r54]:checked ~pre label[for=r54],
input[id=r55]:checked ~pre label[for=r55]
{background: #226; color: #ff8;}
input[id=i0]:checked ~pre .i0,
input[id=i1]:checked ~pre .i1,
input[id=i2]:checked ~pre .i2,
input[id=i3]:checked ~pre .i3,
input[id=i4]:checked ~pre .i4
{background: brown; color: #eed;}
</style><input id="r0" type="radio" name="g"/>
<input id="r1" type="radio" name="g"/>
<input id="r2" type="radio" name="g"/>
<input id="r3" type="radio" name="g"/>
<input id="r4" type="radio" name="g"/>
<input id="r5" type="radio" name="g"/>
<input id="r6" type="radio" name="g"/>
<input id="r7" type="radio" name="g"/>
<input id="r8" type="radio" name="g"/>
<input id="r9" type="radio" name="g"/>
<input id="r10" type="radio" name="g"/>
<input id="r11" type="radio" name="g"/>
<input id="r12" type="radio" name="g"/>
<input id="r13" type="radio" name="g"/>
<input id="r14" type="radio" name="g"/>
<input id="r15" type="radio" name="g"/>
<input id="r16" type="radio" name="g"/>
<input id="r17" type="radio" name="g"/>
<input id="r18" type="radio" name="g"/>
<input id="r19" type="radio" name="g"/>
<input id="r20" type="radio" name="g"/>
<input id="r21" type="radio" name="g"/>
<input id="r22" type="radio" name="g"/>
<input id="r23" type="radio" name="g"/>
<input id="r24" type="radio" name="g"/>
<input id="r25" type="radio" name="g"/>
<input id="r26" type="radio" name="g"/>
<input id="r27" type="radio" name="g"/>
<input id="r28" type="radio" name="g"/>
<input id="r29" type="radio" name="g"/>
<input id="r30" type="radio" name="g"/>
<input id="r31" type="radio" name="g"/>
<input id="r32" type="radio" name="g"/>
<input id="r33" type="radio" name="g"/>
<input id="r34" type="radio" name="g"/>
<input id="r35" type="radio" name="g"/>
<input id="r36" type="radio" name="g"/>
<input id="r37" type="radio" name="g"/>
<input id="r38" type="radio" name="g"/>
<input id="r39" type="radio" name="g"/>
<input id="r40" type="radio" name="g"/>
<input id="r41" type="radio" name="g"/>
<input id="r42" type="radio" name="g"/>
<input id="r43" type="radio" name="g"/>
<input id="r44" type="radio" name="g"/>
<input id="r45" type="radio" name="g"/>
<input id="r46" type="radio" name="g"/>
<input id="r47" type="radio" name="g"/>
<input id="r48" type="radio" name="g"/>
<input id="r49" type="radio" name="g"/>
<input id="r50" type="radio" name="g"/>
<input id="r51" type="radio" name="g"/>
<input id="r52" type="radio" name="g"/>
<input id="r53" type="radio" name="g"/>
<input id="r54" type="radio" name="g"/>
<input id="r55" type="radio" name="g"/>
<input id="i0" type="radio" name="i"/>
<input id="i1" type="radio" name="i"/>
<input id="i2" type="radio" name="i"/>
<input id="i3" type="radio" name="i"/>
<input id="i4" type="radio" name="i"/>
<div id="container"><div class="section">
<div class="doc">
<span class="comment"> Copyright 2011 The Go Authors. All rights reserved.</span><span class="comment"> Use of this source code is governed by a BSD-style</span><span class="comment"> license that can be found in the LICENSE file.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Helper functions to make constructing templates easier.</span></div>
<div class="code"><pre><code>
<span class="keyword">package</span> template

<span class="keyword">import</span> (
	<label for="i0"><span class="lit-string i0">"fmt"</span></label>
	<label for="i1"><span class="lit-string i1">"io/fs"</span></label>
	<label for="i2"><span class="lit-string i2">"os"</span></label>
	<label for="i3"><span class="lit-string i3">"path"</span></label>
	<label for="i4"><span class="lit-string i4">"path/filepath"</span></label>
)
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Functions and methods to parse templates.</span></div>
<div class="code"><pre><code></code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Must is a helper that wraps a call to a function returning (*Template, error)</span><span class="comment"> and panics if the error is non-nil. It is intended for use in variable</span><span class="comment"> initializations such as</span><span class="comment">	var t = template.Must(template.New("name").Parse("text"))</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r0" class="ident"><a href="../../../pkg/text/template.html#name-Must" class="ident">Must</a></label>(<label for="r1" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>, <label for="r2" class="ident">err</label> <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) *<a href="template.go.html#line-28" class="ident">Template</a> {
	<span class="keyword">if</span> <label for="r2" class="ident">err</label> != <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
		<a href="../../../pkg/builtin.html#name-panic" class="ident">panic</a>(<label for="r2" class="ident">err</label>)
	}
	<span class="keyword">return</span> <label for="r1" class="ident">t</label>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ParseFiles creates a new Template and parses the template definitions from</span><span class="comment"> the named files. The returned template's name will have the base name and</span><span class="comment"> parsed contents of the first file. There must be at least one file.</span><span class="comment"> If an error occurs, parsing stops and the returned *Template is nil.</span><span class="comment"></span><span class="comment"> When parsing multiple files with the same name in different directories,</span><span class="comment"> the last one mentioned will be the one that results.</span><span class="comment"> For instance, ParseFiles("a/foo", "b/foo") stores "b/foo" as the template</span><span class="comment"> named "foo", while "a/foo" is unavailable.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r3" class="ident"><a href="../../../pkg/text/template.html#name-ParseFiles" class="ident">ParseFiles</a></label>(<label for="r4" class="ident">filenames</label> ...<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<span class="keyword">return</span> <a href="#line-61" class="ident">parseFiles</a>(<a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="#line-165" class="ident">readFileOS</a>, <label for="r4" class="ident">filenames</label>...)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ParseFiles parses the named files and associates the resulting templates with</span><span class="comment"> t. If an error occurs, parsing stops and the returned template is nil;</span><span class="comment"> otherwise it is t. There must be at least one file.</span><span class="comment"> Since the templates created by ParseFiles are named by the base</span><span class="comment"> names of the argument files, t should usually have the name of one</span><span class="comment"> of the (base) names of the files. If it does not, depending on t's</span><span class="comment"> contents before calling ParseFiles, t.Execute may fail. In that</span><span class="comment"> case use t.ExecuteTemplate to execute a valid template.</span><span class="comment"></span><span class="comment"> When parsing multiple files with the same name in different directories,</span><span class="comment"> the last one mentioned will be the one that results.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r5" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>) <label for="r6" class="ident"><a href="../../../use/text/template..Template.ParseFiles.html" class="ident">ParseFiles</a></label>(<label for="r7" class="ident">filenames</label> ...<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<label for="r5" class="ident">t</label>.<a href="template.go.html#line-69" class="ident">init</a>()
	<span class="keyword">return</span> <a href="#line-61" class="ident">parseFiles</a>(<label for="r5" class="ident">t</label>, <a href="#line-165" class="ident">readFileOS</a>, <label for="r7" class="ident">filenames</label>...)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> parseFiles is the helper for the method and function. If the argument</span><span class="comment"> template is nil, it is created from the first file.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r8" class="ident"><a href="../../../pkg/text/template.html#name-parseFiles" class="ident">parseFiles</a></label>(<label for="r9" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>, <label for="r10" class="ident">readFile</label> <span class="keyword">func</span>(<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>, []<a href="../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>), <label for="r11" class="ident">filenames</label> ...<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> Not really a problem, but be consistent.</span></div>
<div class="code"><pre><code>		<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"template: no files named in call to ParseFiles"</span>)
	}
	<span class="keyword">for</span> <label for="r12" class="ident">_</label>, <label for="r13" class="ident">filename</label> := <span class="keyword">range</span> <label for="r11" class="ident">filenames</label> {
		<label for="r14" class="ident">name</label>, <label for="r15" class="ident">b</label>, <label for="r16" class="ident">err</label> := <label for="r10" class="ident">readFile</label>(<label for="r13" class="ident">filename</label>)
		<span class="keyword">if</span> <label for="r16" class="ident">err</label> != <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
			<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r16" class="ident">err</label>
		}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> First template becomes return value if not already defined,</span><span class="comment">		 and we use that one for subsequent New calls to associate</span><span class="comment">		 all the templates together. Also, if this file has the same name</span><span class="comment">		 as t, this file becomes the contents of t, so</span><span class="comment">		  t, err := New(name).Funcs(xxx).ParseFiles(name)</span><span class="comment">		 works. Otherwise we create a new template associated with t.</span></div>
<div class="code"><pre><code>		<span class="keyword">var</span> <label for="r18" class="ident">tmpl</label> *<a href="template.go.html#line-28" class="ident">Template</a>
		<span class="keyword">if</span> <label for="r9" class="ident">t</label> == <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
			<label for="r9" class="ident">t</label> = <a href="template.go.html#line-37" class="ident">New</a>(<label for="r14" class="ident">name</label>)
		}
		<span class="keyword">if</span> <label for="r14" class="ident">name</label> == <label for="r9" class="ident">t</label>.<a href="template.go.html#line-46" class="ident">Name</a>() {
			<label for="r18" class="ident">tmpl</label> = <label for="r9" class="ident">t</label>
		} <span class="keyword">else</span> {
			<label for="r18" class="ident">tmpl</label> = <label for="r9" class="ident">t</label>.<a href="template.go.html#line-57" class="ident">New</a>(<label for="r14" class="ident">name</label>)
		}
		_, <label for="r16" class="ident">err</label> = <label for="r18" class="ident">tmpl</label>.<a href="template.go.html#line-198" class="ident">Parse</a>(<label for="r17" class="ident">s</label>)
		<span class="keyword">if</span> <label for="r16" class="ident">err</label> != <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
			<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r16" class="ident">err</label>
		}
	}
	<span class="keyword">return</span> <label for="r9" class="ident">t</label>, <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ParseGlob creates a new Template and parses the template definitions from</span><span class="comment"> the files identified by the pattern. The files are matched according to the</span><span class="comment"> semantics of filepath.Match, and the pattern must match at least one file.</span><span class="comment"> The returned template will have the (base) name and (parsed) contents of the</span><span class="comment"> first file matched by the pattern. ParseGlob is equivalent to calling</span><span class="comment"> ParseFiles with the list of files matched by the pattern.</span><span class="comment"></span><span class="comment"> When parsing multiple files with the same name in different directories,</span><span class="comment"> the last one mentioned will be the one that results.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r19" class="ident"><a href="../../../pkg/text/template.html#name-ParseGlob" class="ident">ParseGlob</a></label>(<label for="r20" class="ident">pattern</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<span class="keyword">return</span> <a href="#line-122" class="ident">parseGlob</a>(<a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r20" class="ident">pattern</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ParseGlob parses the template definitions in the files identified by the</span><span class="comment"> pattern and associates the resulting templates with t. The files are matched</span><span class="comment"> according to the semantics of filepath.Match, and the pattern must match at</span><span class="comment"> least one file. ParseGlob is equivalent to calling t.ParseFiles with the</span><span class="comment"> list of files matched by the pattern.</span><span class="comment"></span><span class="comment"> When parsing multiple files with the same name in different directories,</span><span class="comment"> the last one mentioned will be the one that results.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r21" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>) <label for="r22" class="ident"><a href="../../../use/text/template..Template.ParseGlob.html" class="ident">ParseGlob</a></label>(<label for="r23" class="ident">pattern</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<label for="r21" class="ident">t</label>.<a href="template.go.html#line-69" class="ident">init</a>()
	<span class="keyword">return</span> <a href="#line-122" class="ident">parseGlob</a>(<label for="r21" class="ident">t</label>, <label for="r23" class="ident">pattern</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> parseGlob is the implementation of the function and method ParseGlob.</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r24" class="ident"><a href="../../../pkg/text/template.html#name-parseGlob" class="ident">parseGlob</a></label>(<label for="r25" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>, <label for="r26" class="ident">pattern</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<label for="r27" class="ident">filenames</label>, <label for="r28" class="ident">err</label> := <a href="../../../pkg/path/filepath.html" class="ident i4">filepath</a>.<a href="../../path/filepath/match.go.html#line-243" class="ident">Glob</a>(<label for="r26" class="ident">pattern</label>)
	<span class="keyword">if</span> <label for="r28" class="ident">err</label> != <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
		<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r28" class="ident">err</label>
	}
	<span class="keyword">if</span> <a href="../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r27" class="ident">filenames</label>) == <span class="lit-number">0</span> {
		<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"template: pattern matches no files: %#q"</span>, <label for="r26" class="ident">pattern</label>)
	}
	<span class="keyword">return</span> <a href="#line-61" class="ident">parseFiles</a>(<label for="r25" class="ident">t</label>, <a href="#line-165" class="ident">readFileOS</a>, <label for="r27" class="ident">filenames</label>...)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ParseFS is like ParseFiles or ParseGlob but reads from the file system fsys</span><span class="comment"> instead of the host operating system's file system.</span><span class="comment"> It accepts a list of glob patterns.</span><span class="comment"> (Note that most file names serve as glob patterns matching only themselves.)</span></div>
<div class="code"><pre><code><span class="keyword">func</span> <label for="r29" class="ident"><a href="../../../pkg/text/template.html#name-ParseFS" class="ident">ParseFS</a></label>(<label for="r30" class="ident">fsys</label> <a href="../../../pkg/io/fs.html" class="ident i1">fs</a>.<a href="../../io/fs/fs.go.html#line-21" class="ident">FS</a>, <label for="r31" class="ident">patterns</label> ...<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<span class="keyword">return</span> <a href="#line-150" class="ident">parseFS</a>(<a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r30" class="ident">fsys</label>, <label for="r31" class="ident">patterns</label>)
}
</code></pre></div></div>
<div class="section">
<div class="doc">
<span class="comment"> ParseFS is like ParseFiles or ParseGlob but reads from the file system fsys</span><span class="comment"> instead of the host operating system's file system.</span><span class="comment"> It accepts a list of glob patterns.</span><span class="comment"> (Note that most file names serve as glob patterns matching only themselves.)</span></div>
<div class="code"><pre><code><span class="keyword">func</span> (<label for="r32" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>) <label for="r33" class="ident"><a href="../../../use/text/template..Template.ParseFS.html" class="ident">ParseFS</a></label>(<label for="r34" class="ident">fsys</label> <a href="../../../pkg/io/fs.html" class="ident i1">fs</a>.<a href="../../io/fs/fs.go.html#line-21" class="ident">FS</a>, <label for="r35" class="ident">patterns</label> ...<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<label for="r32" class="ident">t</label>.<a href="template.go.html#line-69" class="ident">init</a>()
	<span class="keyword">return</span> <a href="#line-150" class="ident">parseFS</a>(<label for="r32" class="ident">t</label>, <label for="r34" class="ident">fsys</label>, <label for="r35" class="ident">patterns</label>)
}

<span class="keyword">func</span> <label for="r36" class="ident"><a href="../../../pkg/text/template.html#name-parseFS" class="ident">parseFS</a></label>(<label for="r37" class="ident">t</label> *<a href="template.go.html#line-28" class="ident">Template</a>, <label for="r38" class="ident">fsys</label> <a href="../../../pkg/io/fs.html" class="ident i1">fs</a>.<a href="../../io/fs/fs.go.html#line-21" class="ident">FS</a>, <label for="r39" class="ident">patterns</label> []<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (*<a href="template.go.html#line-28" class="ident">Template</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<span class="keyword">var</span> <label for="r40" class="ident">filenames</label> []<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>
	<span class="keyword">for</span> <label for="r41" class="ident">_</label>, <label for="r42" class="ident">pattern</label> := <span class="keyword">range</span> <label for="r39" class="ident">patterns</label> {
		<label for="r43" class="ident">list</label>, <label for="r44" class="ident">err</label> := <a href="../../../pkg/io/fs.html" class="ident i1">fs</a>.<a href="../../io/fs/glob.go.html#line-33" class="ident">Glob</a>(<label for="r38" class="ident">fsys</label>, <label for="r42" class="ident">pattern</label>)
		<span class="keyword">if</span> <label for="r44" class="ident">err</label> != <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a> {
			<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <label for="r44" class="ident">err</label>
		}
		<span class="keyword">if</span> <a href="../../../pkg/builtin.html#name-len" class="ident">len</a>(<label for="r43" class="ident">list</label>) == <span class="lit-number">0</span> {
			<span class="keyword">return</span> <a href="../../../pkg/builtin.html#name-nil" class="ident">nil</a>, <a href="../../../pkg/fmt.html" class="ident i0">fmt</a>.<a href="../../fmt/errors.go.html#line-17" class="ident">Errorf</a>(<span class="lit-string">"template: pattern matches no files: %#q"</span>, <label for="r42" class="ident">pattern</label>)
		}
		<label for="r40" class="ident">filenames</label> = <a href="../../../pkg/builtin.html#name-append" class="ident">append</a>(<label for="r40" class="ident">filenames</label>, <label for="r43" class="ident">list</label>...)
	}
	<span class="keyword">return</span> <a href="#line-61" class="ident">parseFiles</a>(<label for="r37" class="ident">t</label>, <a href="#line-171" class="ident">readFileFS</a>(<label for="r38" class="ident">fsys</label>), <label for="r40" class="ident">filenames</label>...)
}

<span class="keyword">func</span> <label for="r45" class="ident"><a href="../../../pkg/text/template.html#name-readFileOS" class="ident">readFileOS</a></label>(<label for="r46" class="ident">file</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (<label for="r47" class="ident">name</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>, <label for="r48" class="ident">b</label> []<a href="../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <label for="r49" class="ident">err</label> <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<label for="r47" class="ident">name</label> = <a href="../../../pkg/path/filepath.html" class="ident i4">filepath</a>.<a href="../../path/filepath/path.go.html#line-545" class="ident">Base</a>(<label for="r46" class="ident">file</label>)
	<label for="r48" class="ident">b</label>, <label for="r49" class="ident">err</label> = <a href="../../../pkg/os.html" class="ident i2">os</a>.<a href="../../os/file.go.html#line-651" class="ident">ReadFile</a>(<label for="r46" class="ident">file</label>)
	<span class="keyword">return</span>
}

<span class="keyword">func</span> <label for="r50" class="ident"><a href="../../../pkg/text/template.html#name-readFileFS" class="ident">readFileFS</a></label>(<label for="r51" class="ident">fsys</label> <a href="../../../pkg/io/fs.html" class="ident i1">fs</a>.<a href="../../io/fs/fs.go.html#line-21" class="ident">FS</a>) <span class="keyword">func</span>(<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (<a href="../../../pkg/builtin.html#name-string" class="ident">string</a>, []<a href="../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
	<span class="keyword">return</span> <span class="keyword">func</span>(<label for="r52" class="ident">file</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>) (<label for="r53" class="ident">name</label> <a href="../../../pkg/builtin.html#name-string" class="ident">string</a>, <label for="r54" class="ident">b</label> []<a href="../../../pkg/builtin.html#name-byte" class="ident">byte</a>, <label for="r55" class="ident">err</label> <a href="../../../pkg/builtin.html#name-error" class="ident">error</a>) {
		<label for="r53" class="ident">name</label> = <a href="../../../pkg/path.html" class="ident i3">path</a>.<a href="../../path/path.go.html#line-199" class="ident">Base</a>(<label for="r52" class="ident">file</label>)
		<label for="r54" class="ident">b</label>, <label for="r55" class="ident">err</label> = <a href="../../../pkg/io/fs.html" class="ident i1">fs</a>.<a href="../../io/fs/readfile.go.html#line-29" class="ident">ReadFile</a>(<label for="r51" class="ident">fsys</label>, <label for="r52" class="ident">file</label>)
		<span class="keyword">return</span>
	}
</code></pre></div></div>

</div><pre id="footer">
<table><tr><td><img src="../../../png/go101-twitter.png"></td>
<td>The pages are generated with <a href="https://go101.org/article/tool-golds.html"><b>Golds</b></a> <i>v0.3.2-preview</i>. (GOOS=darwin GOARCH=amd64)
<b>Golds</b> is a <a href="https://go101.org">Go 101</a> project developed by <a href="https://tapirgames.com">Tapir Liu</a>.
PR and bug reports are welcome and can be submitted to <a href="https://github.com/go101/golds">the issue list</a>.
Please follow <a href="https://twitter.com/go100and1">@Go100and1</a> (reachable from the left QR code) to get the latest news of <b>Golds</b>.</td></tr></table></pre>